page-login {
	
	.lupa-sandi{
		margin-top: 30px;
		text-align: center;
		width: 100%;

		a{
			color: #e4001c;
		}
	}

	

	.masuk-txt{
		width: 100%;
		text-align: center;
		font-size: 20px;
		color: #000;
		font-weight: 800;
		margin-top: 20px;
		color: #e4001c;
	}

	.form{
		.eye{
			color: #e4001c;
			float: right;
			margin-top: -25px;
			opacity: 0.6;
			z-index: 2;
		}
	}

	.error{
		color: red;
		text-align: center;
	}
}
