<!--
  Generated template for the LoginPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="merah" hideBackButton="true">
    <div class="backbutton">
      <ion-icon name="md-arrow-back" (click)="back()"></ion-icon>
    </div>
    <ion-title class="judul">Masuk</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="logo-login">
    <img src="assets/material/logo.png">
  </div>
  <div class="masuk-txt">Masuk</div>
  <div class="input-group error">
   {{resp_error}} 
  </div>
  <div class="input-group">
    <div class="icon">
      <ion-icon name="md-mail"></ion-icon>
    </div>
    <div class="form">
      <input type="email" placeholder="Email" [(ngModel)]="email">
    </div>
  </div>
  <div class="input-group">
    <div class="icon">
      <ion-icon name="md-key"></ion-icon>
    </div>
    <div class="form">
      <input type="{{password_type}}" placeholder="Password" [(ngModel)]="password">
      <ion-icon name="{{eye}}" class="eye" (click)="eye_change()"></ion-icon>
    </div>
  </div>
  <div class="button-space">
    <button class="btn-masuk" (click)="login()">Masuk</button>
  </div>
  <div class="lupa-sandi">
    <a (click)="reset()">Lupa Kata Kunci?</a>
  </div>
</ion-content>
