<ion-header>

  <ion-navbar color="merah">
    <ion-title>Reward Confirm</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="filters__list">
    <ion-row>
      <ion-col col-12>
        <h2>List yang akan di claim</h2>
      </ion-col>
    </ion-row>
    <div class="filters__item" *ngFor="let row of items; let i = index">
      <label for="reward-{{row.id}}">
        <ion-row>
          <ion-col col-6>
            <h2>{{row.nama_produk}}</h2>
            <p>
              <span *ngFor="let attr of row.data_atribut_value">
                <span>{{attr.value_atribut}} </span>
              </span>
              <span>x {{row.quantity}}</span>
            </p>
          </ion-col>
          <ion-col col-4>
            <h2>Reward</h2>
            <p>Rp {{row.estimasi_reward | number : fractionSize}}</p>
          </ion-col>
        </ion-row>
      </label>
    </div>
    <ion-row>
      <ion-col col-6>
        <h2>Total Claim</h2>
      </ion-col>
      <ion-col col-4>
        Rp {{total_reward | number : fractionSize}}
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-12>
        <div class="button">
          <div class="status-note">
          </div>
          <button (click)="ajukan()">Ajukan Claim</button>
        </div>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
