<!--
  Generated template for the KatalogPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="merah">
    <ion-title>Katalog</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col col-12 *ngFor="let item of produk">
        <div class="grid-katalog" (click)="purchase(item.id, item.nama_produk, item)">
          <ion-row>
            <ion-col col-6>
              <div class="title-katalog">
                {{item.nama_produk}}
              </div>
            </ion-col>
            <ion-col col-6>
              <img src="{{urlMaterial}}katalog/{{item.gambar_produk}}" width="100%">
            </ion-col>
          </ion-row>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
