<ion-header>

  <ion-navbar color="merah">
    <ion-title>Profil</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <div>
    <div class="cover">
        <label class="more" for="show-setting">
          <ion-icon name="ios-settings"></ion-icon>
        </label>
        <input type="checkbox" id="show-setting">
        <div class="more-modal">
          <div>
            <label for="show-setting" (click)="edit()">
              Edit Profil
            </label>
          </div>
          <div>
            <label for="show-setting" (click)="ganti()">
              Ganti Password
            </label>
          </div>
        </div>
        <div class="avatar">
          <img src="{{urlMaterial}}foto_user/{{photoprofil}} " width="100" />
          <div class="light">
          </div>
        </div>
        <div class="ubah-foto" (click)="ganti_foto()">
          <ion-icon name="ios-camera"></ion-icon>
        </div>
    </div>

    <div class="main">
        <h1>{{datauser.full_name}}</h1>
        <p class="nama-dealer">{{datauser.dealer}}</p>
    </div>
  </div>
  <div padding>
    <table width="100%" style="margin-top:20px;" class="detail-profil">
      <tr>
        <td>Email</td>
        <td>:</td>
        <td>{{datauser.email}}</td>
      </tr>
      <tr *ngIf="groupid==5">
        <td>NIK</td>
        <td>:</td>
        <td>{{datauser.nik}}</td>
      </tr>
      <tr *ngIf="groupid==5">
        <td>NPWP</td>
        <td>:</td>
        <td>{{datauser.no_npwp}}</td>
      </tr>
      <tr>
        <td>No. Handphone</td>
        <td>:</td>
        <td>{{datauser.phone}}</td>
      </tr>
      <tr *ngIf="groupid==5">
        <td>Nama Bank</td>
        <td>:</td>
        <td>{{datauser.bank}}</td>
      </tr>
      <tr *ngIf="groupid==5">
        <td>No. Rekening</td>
        <td>:</td>
        <td>{{datauser.no_rekening}}</td>
      </tr>
      <tr *ngIf="groupid==5">
        <td>Rekening Atas Nama</td>
        <td>:</td>
        <td>{{datauser.rekening_atas_nama}}</td>
      </tr>
      <tr *ngIf="groupid==5">
        <td>Nama Dealer</td>
        <td>:</td>
        <td>{{datauser.dealer}}</td>
      </tr>
      <tr *ngIf="groupid==5">
        <td>Alamat Dealer</td>
        <td>:</td>
        <td>{{datauser.alamat_dealer}}</td>
      </tr>
      <tr *ngIf="groupid==4">
          <td>Lokasi</td>
          <td>:</td>
          <td>{{datauser.lokasi}}</td>
        </tr>
    </table>
     <ion-row *ngIf="groupid==5">
      <ion-col col-12>
        KTP :
        <img src="{{datauser.ktp==''||datauser.ktp==null?'assets/material/default-photo/ktp-default.jpg':urlMaterial+'foto_user/berkas/'+datauser.ktp}}" width="100%" imageViewer />
      </ion-col>
      <ion-col col-12 *ngIf="groupid==5">
        NPWP :
        <img src="{{datauser.npwp==''||datauser.npwp==null?'assets/material/default-photo/npwp-default.jpg':urlMaterial+'foto_user/berkas/'+datauser.npwp}}" width="100%" imageViewer/>
      </ion-col>
      <ion-col col-12 *ngIf="groupid==5">
        Buku Tabungan :
        <img src="{{datauser.tabungan==''||datauser.tabungan==null?'assets/material/default-photo/tabungan-default.jpg':urlMaterial+'foto_user/berkas/'+datauser.tabungan}}" width="100%" imageViewer/>
      </ion-col>
      <ion-col col-12 *ngIf="groupid==5&&datauser.surat_kesepakatan!=''">
        <div class="button">
          <button (click)="skb(datauser.surat_kesepakatan)">Lihat Surat Kesepakatan Bersama</button>
        </div>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
