<ion-header>

  <ion-navbar color="merah">
    <ion-title>Kirim PO</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="purchase">

  <div class="form-group">
    <label>Nama Produk</label>
    <ion-item>
      {{items.nama_produk}}
    </ion-item>
  </div>

  <div class="form-group">
    <label>Varian</label>
    <ion-item>
      {{varian}}
    </ion-item>
  </div>

  <div class="form-group">
    <label>Kapasitas</label>
    <ion-item>
      {{kapasitas}}
    </ion-item>
  </div>

  <div class="form-group">
    <label>Jumlah</label>
    <ion-item>
      {{items.quantity}}
    </ion-item>
  </div>

  <div class="form-group">
    <label>Nama Customer</label>
    <ion-item>
      {{items.nama_customer}}
    </ion-item>
  </div>  

  <div class="form-group">
    <label>Nama Proyek</label>
    <ion-item>
      {{items.nama_proyek}}
    </ion-item>
  </div>  

  <div class="form-group">
    <label>Harga</label>
    <ion-item>
      Rp {{items.total_harga | number : fractionSize}}
    </ion-item>
  </div>

  <div class="form-group">
    <label>Reward</label>
    <ion-item>
      Rp {{items.total_reward | number : fractionSize}}
    </ion-item>
  </div>

  <div class="form-group">
    <div class="note-label"><ion-icon name="ios-information-circle"></ion-icon>Edit <b>Estimasi Harga</b> di bawah ini jika harga yang anda tawarkan tidak sama dengan <b>Harga</b> diatas.</div>
    <label>Estimasi Harga</label>
    <ion-item>
      <!-- <input type="number" [(ngModel)]="estimasi_harga" placeholder="Estimasi Harga" [formControl]="estimasiTermControl"> -->
      <input [(ngModel)]="estimasi_harga" type="text"  pattern="^[$\-\s]*[\d\,]*?([\.]\d{0,10})?\s*$"  #myBudget="ngModel" (input)="estimasi_harga = format(estimasi_harga)">
    </ion-item>
    <p class="error_desc">{{data_error.estimasi_harga}}</p>
  </div>

  <div class="form-group">
    <label>Estimasi Reward</label>
    <ion-item>
      Rp {{reward_estimasi_harga | number : fractionSize}}
    </ion-item>
  </div>

  <div class="form-group request">
    <label>Request</label>
    <ion-item>
      {{items.request_note}}
    </ion-item>
  </div>  

  <div class="form-group request">
    <label>Additional Price</label>
    <ion-item>
      {{items.request_price}}
    </ion-item>
  </div>  

  <div class="form-group request">
    <label>Request Feedback</label>
    <ion-item>
      {{items.request_feedback}}
    </ion-item>
  </div>  

  <div class="form-group request">
    <label>Total Harga</label>
    <ion-item>
      Rp {{total(items.request_price, unFormat(estimasi_harga)) | number : fractionSize}}
      <div class="note-label">
        <ion-icon name="ios-information-circle"></ion-icon>Note: Total harga merupakan akumulasi dari <b>Estimasi Harga</b> dan <b>Harga Tambahan</b> bila ada
      </div>
    </ion-item>
  </div>  

  <div class="button">
    <button (click)="po(items.id)">Kirim Po</button>
  </div>
</ion-content>
