page-po {
	.error_desc{
		color: red;
		font-size: 11px;
		padding-left: 0px;
		margin-top: 5px;
	}

	.note-label{
		color: #000;
		font-weight: 300;
		border: 1px solid #ddd;
		margin: 5px 0px;
		font-size: 12px;
		padding: 10px;

		.icon{
			float: left;
			color: red;
			font-size: 30px;
			width: 40px;
		}
	}

	.request{
		.input-wrapper{
			.label{
				white-space: normal;
			}
		}
	}
}
