<!--
  Generated template for the InboxPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="merah">
    <ion-title>inbox</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div class="no-data" *ngIf="items.length=='0'">
    <br/>
    <br/>
    Tidak ada inbox
  </div>
  <div class="inbox" *ngFor="let row of items">
    <ion-row (click)="open(row.id)">
      <ion-col col-3>
        <div class="initial-before" *ngIf="row.status==0">
          <div [innerHTML]='getInitial(row.full_name_from)'></div>
        </div>
        <div class="initial" *ngIf="row.status!=0">
          <div [innerHTML]='getInitial(row.full_name_from)'></div>
        </div>
      </ion-col>
      <ion-col col-9>
        <div class="detil">
          <strong>{{row.judul}}</strong>
          <br/>
          {{row.full_name_from}}
          <br/>
          {{row.created_date}}
        </div>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
