page-inbox {
	.inbox{
		border-bottom: 1px solid #ccc;
		padding: 10px;
		color: #a2a2a2;

		.detil{
			line-height: 20px;

			strong{
				font-size: 18px;
				color: #000;
			}
		}

		.initial{
			height: 60px;
			background: #ccc;
			text-align: center;
			vertical-align: middle;
			font-size: 35px;
			font-weight: 500;
			color: #fff;
			padding-top: 7px;
		}

		.initial-before{
			height: 60px;
			background: #e4001c;
			text-align: center;
			vertical-align: middle;
			font-size: 35px;
			font-weight: 500;
			color: #fff;
			padding-top: 7px;
		}
	}
}
