page-pemesanan-detil {
	.more{
		font-size: 20px;
		float: right;
	}


	.more-modal{
		display: none;
		right: 10px;
		top: 50px;
		background:#ddd;
		position: absolute;

		a{
			text-decoration: none;
			color: #000;
		}
	}

	.more-modal div{
		padding: 10px 8px;
	}

	.more-modal div:first-child{
		border-bottom: 1px solid #ddd;
	}

	.more-modal div:last-child{
		border-top: 1px solid #ddd;
	}

	#show-setting{
		position: absolute;
		left: -30px;
	}

	#show-setting:checked ~ .more-modal{
		display: block;
	}

	.list-order{
		background: #fff;
		width: 95%;
		margin: 5px auto;
		padding: 20px;
		border-radius: 5px;
		border: 1px solid #ddd;
		-webkit-box-shadow: 0px 1px 18px -7px rgba(125,125,125,1);
		-moz-box-shadow: 0px 1px 18px -7px rgba(125,125,125,1);
		box-shadow: 0px 1px 18px -7px rgba(125,125,125,1);
		position: relative;

		h3{
			margin: 0px;
			padding: 0px;
			font-size: 20px;
		}

		.detil-produk{
			padding: 0px;
			margin: 0px;
		}

		table{
			margin-top: 10px;
			width: 100%;

			tr{
				td{
					color: #2f2f2f;
					font-weight: 300;
					line-height: 30px;

					.label-ket{
						color: #e4001c;
						width: 100%;
						font-weight: 500;
						border-bottom: 1px solid #e4001c;
					}
				}

				td.name{
					width: 130px;

					ion-icon{
						color: #e4001c;
					}
				}
			}
		}
	}

	.label-warning{
		background: #cca80c;
		color: #fff;
		border-radius: 3px;
		font-weight: 800;
		font-size: 12px;
		min-width: 80px;
		max-width: 100px;
		text-align: center;
	}

	.label-danger{
		background: #e4001c;
		color: #fff;
		border-radius: 3px;
		font-weight: 800;
		font-size: 12px;
		min-width: 80px;
		max-width: 100px;
		text-align: center;
	}

	.label-success{
		background: #2aaf52; 
		color: #fff;
		border-radius: 3px;
		font-weight: 800;
		font-size: 12px;
		min-width: 80px;
		max-width: 100px;
		text-align: center;
	}

	.timeline {
	  margin: 0 0 3rem 0;
	  position: relative;
	}
	.timeline:before {
	  content: '';
	  display: block;
	  background-color: #FFE066;
	  position: absolute;
	}
	.timeline--vertical {
	  margin: 0px 0px 0px 50px;
	}
	.timeline--vertical:before {
	  width: 3px;
	  height: 100%;
	  top: 0;
	  left: calc(-3rem / 2 - 3px / 2 - 2rem);
	}
	.timeline--vertical .timeline__item:first-child:after {
	  width: 3px;
	  height: 50%;
	  top: 0;
	  left: calc(-3rem / 2 - 3px / 2 - 2rem);
	}
	.timeline--vertical .timeline__item:last-child:after {
	  width: 3px;
	  height: 50%;
	  bottom: 0;
	  left: calc(-3rem / 2 - 3px / 2 - 2rem);
	}
	
	.timeline__item {
	  background-color: #fff;
	  margin: 0 0 1rem 0;
	  max-width: 300px;
	  padding: 1rem;
	  position: relative;
	  border: 1px solid #e4001c;
	}
	.timeline__item:before {
	  content: '';
	  display: block;
	  width: 3rem;
	  height: 3rem;
	  background-color: #e4001c;
	  border-radius: 3rem;
	  position: absolute;
	  z-index: 1;
	  top: calc(50% - 3rem / 2);
	  left: calc(-3rem - 2rem);
	}
	.timeline__item:first-child:after {
	  content: '';
	  display: block;
	  background-color: white;
	  position: absolute;
	}
	.timeline__item:last-child:after {
	  content: '';
	  display: block;
	  background-color: white;
	  position: absolute;
	}

	.tanggal{
		font-size: 12px;

		ion-icon{
			color: #e4001c;
		}
	}

	.btn-cancel{
		background: #ffc107!important;
		color: #000;
	}

	.request-form{
		input{
			width: 100% !important;
			border: 1px solid #e4001c !important;
			padding: 8px 5px;
		}

		.item{
			padding: 0px;

			.checkbox{
				margin: 0px;
				margin-right: 5px;
			}

			.label{
				font-weight: 800 !important
				b{
					color: #e4001c;
				}
			}
		}

		.item-inner{
			padding: 0px !important;
			border: none !important;

			.label{
				margin: 0px;
			}
		}
	}

	.error_desc{
		color: red;
		font-size: 11px;
		padding-left: 0px;
		margin-top: 5px;
	}
}

.alert-button{
		width: 30% !important;
		float: left !important;
		background: red;
	}

