<ion-header>

  <ion-navbar color="merah">
    <ion-title>Detil Pemesanan</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-segment [(ngModel)]="tabs" color="merah">
    <ion-segment-button value="detil">
      Detil Pemesanan
    </ion-segment-button>
    <ion-segment-button value="riwayat">
      Riwayat Pemesanan
    </ion-segment-button>
  </ion-segment>

  <div *ngIf="tabs=='detil'">
    <div class="list-order">
      <label class="more" for="show-setting">
        <ion-icon name="md-call"></ion-icon>
      </label>
      <input type="checkbox" id="show-setting">
      <div class="more-modal">
        <div *ngIf="groupid!=5">
          <label for="show-setting">
            <a href="tel:{{items.phone}}">
              Call Salesman
            </a>
          </label>
        </div>
        <div *ngIf="groupid!=4">
          <label for="show-setting">
            <a href="tel:{{items.phone_patria}}">
              Call Sales Patria
            </a>
          </label>
        </div>
      </div>

      <h3>{{items.nama_produk}}</h3>
      <p class="detil-produk" *ngFor="let row of items.data_atribut_value">
        {{row.value_atribut}}
      </p>
      <table>
        <tr *ngIf="groupid!=5">
          <td class="name"><ion-icon name="ios-contact"></ion-icon> &nbsp; Dealer</td>
          <td class="tikwa">:</td>
          <td style="text-decoration: underline; color: #e4001c" (click)="sales_detail(items.user_id)"><strong>{{items.full_name}}</strong></td>
        </tr>
        <tr *ngIf="groupid==3">
          <td class="name"><ion-icon name="ios-contact"></ion-icon> &nbsp; Patria</td>
          <td class="tikwa">:</td>
          <td style="text-decoration: underline; color: #e4001c" (click)="sales_detail(items.parent_id)"><strong>{{items.nama_parent}}</strong></td>
        </tr>
        <tr>
          <td class="name"><ion-icon name="ios-person"></ion-icon> &nbsp; Customer</td>
          <td class="tikwa">:</td>
          <td>{{items.nama_customer}}</td>
        </tr>
        <tr>
          <td class="name"><ion-icon name="ios-copy"></ion-icon> &nbsp; Proyek</td>
          <td class="tikwa">:</td>
          <td>{{items.nama_proyek}}</td>
        </tr>
        <tr>
          <td class="name"><ion-icon name="ios-create"></ion-icon> &nbsp; Status</td>
          <td class="tikwa">:</td>
          <td>
            <div class="label-warning" *ngIf="items.status_order=='waiting'">Waiting</div>
            <div class="label-success" *ngIf="items.status_order=='verified'">Verified</div>
            <div class="label-danger" *ngIf="items.status_order=='rejected'">Rejected</div>
            <div class="label-warning" *ngIf="items.status_order=='po_process'">PO Process</div>
            <div class="label-warning" *ngIf="items.status_order=='hold'">Hold</div>
            <div class="label-danger" *ngIf="items.status_order=='canceled'">Canceled</div>
            <div class="label-success" *ngIf="items.status_order=='on_process'">On Process</div>
            <div class="label-danger" *ngIf="items.status_order=='rejected_po'">Rejected PO</div>
            <div class="label-success" *ngIf="items.status_order=='delivered'">Delivered</div>
            <div class="label-success" *ngIf="items.status_order=='req_released_reward'">Request Reward</div>
            <div class="label-success" *ngIf="items.status_order=='finish'">Finish</div>
          </td>
        </tr>
        <tr>
          <td class="name"><ion-icon name="ios-cart"></ion-icon> &nbsp; Quantity</td>
          <td class="tikwa">:</td>
          <td>{{items.quantity}}</td>
        </tr>
        <tr>
          <td class="name"><ion-icon name="ios-calendar"></ion-icon> &nbsp; Tanggal Pesan</td>
          <td class="tikwa">:</td>
          <td>{{items.created_date}}</td>
        </tr>
        <tr>
          <td colspan="3"><br/><div class="label-ket">Harga Katalog Patria</div></td>
        </tr>
        <tr>
          <td class="name"><ion-icon name="ios-cash"></ion-icon> &nbsp; Harga</td>
          <td class="tikwa">:</td>
          <td>Rp {{items.total_harga | number : fractionSize}}</td>
        </tr>
        <tr>
          <td class="name"><ion-icon name="ios-cog-outline"></ion-icon> &nbsp; Reward</td>
          <td class="tikwa">:</td>
          <td>Rp {{items.total_reward | number : fractionSize}}</td>
        </tr>

        <tr>
          <td colspan="3"><div class="label-ket">Harga Jual Sales</div></td>
        </tr>
        <tr>
          <td class="name" *ngIf="items.status_order=='delivered'||items.status_order=='req_released_reward'||items.status_order=='finish'||items.status_order=='on_process'; else akhirLabel"><ion-icon name="ios-cash"></ion-icon> &nbsp; Harga Akhir</td>
          <ng-template #akhirLabel>
            <td><ion-icon name="ios-cash"></ion-icon> &nbsp; Estimasi Harga</td>
          </ng-template>
          <td class="tikwa">:</td>
          <td>Rp {{items.estimasi_harga | number : fractionSize}}</td>
        </tr>
        <tr>
          <td class="name" *ngIf="items.status_order=='delivered'||items.status_order=='req_released_reward'||items.status_order=='finish'||items.status_order=='on_process';else rewardLabel"><ion-icon name="ios-cog-outline"></ion-icon> &nbsp; Reward</td>
          <ng-template #rewardLabel>
            <td><ion-icon name="ios-cog-outline"></ion-icon> &nbsp; Estimasi Reward</td>
          </ng-template>
          <td class="tikwa">:</td>
          <td>Rp {{items.estimasi_reward | number : fractionSize}}</td>
        </tr>
        <tr  *ngIf="items.request_note!=''||items.request_note==null">
          <td colspan="3"><br/><div class="label-ket">Request {{items.request_name}}</div></td>
        </tr>
        <tr *ngIf="items.request_note!=''||items.request_note==null">
          <td colspan="3">{{items.request_note}}</td>
        </tr>
        <tr *ngIf="(items.request_note!=''||items.request_note==null)&&groupid=='4'&&items.status_order=='waiting'">
          <td colspan="3"><br/><div class="label-ket">Request Feedback</div></td>
        </tr>
        <tr *ngIf="(items.request_note!=''||items.request_note==null)&&groupid=='4'&&items.status_order=='waiting'">
          <td colspan="3">
            <div class="request-form">
              <div class="form-group">
                <label>Harga <span class="error_desc">{{data_error.request_price}}</span></label>
                <ion-item>
                  <input [(ngModel)]="request_price" type="text" pattern="^[$\-\s]*[\d\,]*?([\.]\d{0,10})?\s*$"  #myBudget="ngModel" (input)="request_price = format(request_price)">
                </ion-item>
              </div>
              <div class="form-group">
                <label>Note <span class="error_desc">{{data_error.request_note}}</span></label>
                <ion-item>
                  <textarea rows="8" width="100" [(ngModel)]="request_note"></textarea>
                </ion-item>
              </div>
            </div>
          </td>
        </tr>
        <tr *ngIf="items.request_price!=0">
          <td class="name"><b>Price</b></td>
          <td class="tikwa">:</td>
          <td>Rp {{items.request_price | number : fractionSize}}</td>
        </tr>
        <tr *ngIf="items.request_feedback!=null">
          <td class="name"><b>Note</b></td>
          <td class="tikwa">:</td>
          <td>{{items.request_feedback}}</td>
        </tr>
        <tr *ngIf="(items.request_note!=''||items.request_note==null)&&groupid=='4'&&items.status_order=='waiting'; else totalOther">
          <td colspan="3">
            <div class="label-ket"><br/>Total Harga</div>
            Rp {{total(unFormat(request_price), items.estimasi_harga) | number : fractionSize}}
            <div class="note-label">
              <ion-icon name="ios-information-circle"></ion-icon>Note: Total harga merupakan akumulasi dari <b>Estimasi Harga</b> dan <b>Harga Tambahan</b> bila ada
            </div>
          </td>
        </tr>
        <ng-template #totalOther>
        <tr>
          <td colspan="3">
            <div class="label-ket"><br/>Total Harga</div>
            Rp {{total(items.request_price, items.estimasi_harga) | number : fractionSize}}
            <div class="note-label">
              <ion-icon name="ios-information-circle"></ion-icon>Note: Total harga merupakan akumulasi dari <b>Estimasi Harga</b> dan <b>Harga Tambahan</b> bila ada
            </div>
          </td>
        </tr>
        </ng-template>
      </table>

      <div *ngIf="groupid=='4'">
        <div class="button" *ngIf="items.status_order=='waiting'">
          <button (click)="confirm_order(items.id, items.request_note)">Konfirmasi Order</button>
          <br/>
          <button (click)="reject_order(items.id, items.status_order)">Reject</button>
        </div>

        <div class="button" *ngIf="items.status_order=='po_process'">
          <button (click)="confirm_po(items.id)">Konfirmasi PO</button>
          <br/>
          <button (click)="reject_order(items.id, items.status_order)">Reject PO</button>
        </div>

        <div class="button" *ngIf="items.status_order=='on_process'">
          <div class="status-note">
            Order Sedang diproses, silahkan cek progress order dan pembayaran. Kemudian ubah statusnya dengan mengklik tombol dibawah
          </div>
          <button (click)="delivery(items.id, items.status_order)">Lakukan Pengiriman Barang</button>
          <br/>
          <br/>
          <br/>
          <button (click)="delivery_cancel(items.id, items.status_order)" class="btn-cancel">Cancel</button>
        </div>

        <div class="button" *ngIf="items.status_order=='delivered'">
          <div class="status-note">
            Status Order Delivered - Silahkan Release Reward untuk Sales anda
          </div>
          <button (click)="req_release_reward(items.id, items.status_order)">Release Reward</button>
        </div>
      </div>

      <div *ngIf="groupid=='5'">
        <div class="button" *ngIf="items.status_order=='verified' || items.status_order=='hold' || items.status_order=='rejected_po'">
          <button (click)="change_status(items.id, items.status_order)">Ubah Status</button>
        </div>
      </div>

      <div *ngIf="groupid=='3'">
        <div class="button" *ngIf="items.status_order=='req_released_reward'">
          <div class="status-note">
            Order Sudah dikirim, Silahkan Verifikasi untuk Release Reward
          </div>
          <button (click)="approve_reward(items.id, items.status_order)">Approve Reward</button>
        </div>
      </div>

    </div>
  </div>
  <div *ngIf="tabs=='riwayat'" padding>
    <nav class="timeline timeline--vertical">
      <div class="timeline__item" *ngFor="let row of histori">
        <div class="tanggal">
          <ion-icon name="ios-calendar"></ion-icon> &nbsp; {{row.created_date}}
        </div>
        <br/>
          {{row.keterangan}}
        <br/>
        <br/>
        <div class="label-warning" *ngIf="row.action_to=='waiting'">Waiting</div>
        <div class="label-success" *ngIf="row.action_to=='verified'">Verified</div>
        <div class="label-danger" *ngIf="row.action_to=='rejected'">Rejected</div>
        <div class="label-success" *ngIf="row.action_to=='on_process'">On Process</div>
        <div class="label-warning" *ngIf="row.action_to=='hold'">Hold</div>
        <div class="label-danger" *ngIf="row.action_to=='canceled'">Canceled</div>
        <div class="label-warning" *ngIf="row.action_to=='po_process'">PO Process</div>
        <div class="label-danger" *ngIf="row.action_to=='rejected_po'">Rejected PO</div>
        <div class="label-success" *ngIf="row.action_to=='delivered'">Delivered</div>
        <div class="label-success" *ngIf="row.action_to=='req_released_reward'">Request Reward</div>
        <div class="label-success" *ngIf="row.action_to=='finish'">Finish</div>
      </div>
    </nav>
  </div>
</ion-content>
