page-auth-state {
	.slide-zoom {
    text-align: center;
    display: block;
    width: 100%;
    height: 100%;
	}

	.swiper-slide img {
    width: auto;
    /* max-width: 100%; */
    /* height: auto; */
    height: 100%;
	}

	.auth-section{
		left: 0;
		right: 0;
		position: fixed;
		bottom: 12%;
		z-index: 2;
		text-align: center;
	}

	.auth-section .masuk{
		width: 160px;
		padding: 10px 0;
		font-size: 15px;
		font-weight: 500;
		border-radius: 5px;
		color: #231f20;
		background: #d1d2d4;
	}

	.auth-section .buat{
		width: 160px;
		padding: 10px 0;
		font-size: 15px;
		font-weight: 500;
		border-radius: 5px;
		background: red;
		margin-top: 8px;
		color: #fff;
		background: #231f20;
	}

	.auth-section .term{
		position: fixed;
		bottom: 15px;
		left: 0;
		right: 0;
		text-align: center;
		font-size: 12px;
		font-weight: 500;
		color: #fff;
	}

	.swiper-container-horizontal > .swiper-pagination-bullets {
    left: 0;
    bottom: 27%;
    width: 100%;
    position: fixed;
    z-index: 3;
	}

	.swiper-pagination-bullet-active {
    background: #e81f25;
    opacity: 1;
	}

	.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
	}

	.swiper-slide img{
		width: 100% !important;
		height: auto !important;
	}
}
