<ion-content>
  <ion-slides pager="true" autoplay="3000" loop="true">
    <ion-slide *ngFor="let item of slider">
      <img src="assets/material/slider/{{item}}" style="object-fit: cover;">
    </ion-slide>
  </ion-slides>
  <div class="auth-section">
    <div>
      <button class="masuk" (click)="masuk()">Masuk</button>
    </div>
    <div>
      <button class="buat" (click)="daftar()">Buat Akun</button>
    </div>
    <a class="term" (click)="terms()">Ketentuan Penggunaan Umum</a>
  </div>
</ion-content>