<ion-header *ngIf="popUpUpdate==false">

  <ion-navbar color="merah">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Beranda</ion-title>
  </ion-navbar>

</ion-header>

<div class="modal-update-profile" *ngIf="cek_update_profile==true">
  <div class="wrapper">
    <div class="body">
      <p><b>Lengkapi Profile</b></p>
      <p>Profile anda belum lengkap, silahkan lengkapi profile anda untuk memudahkan dalam transaksi</p>
    </div>
    <div class="footer">
      <button (click)="goTo('EditProfilPage')">Lengkapi Sekarang</button>
    </div>
  </div>
</div>


<ion-content>
  <ion-refresher (ionRefresh)="refresh($event)" *ngIf="popUpUpdate==false">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>
  <ion-slides *ngIf="slider && slider.length" autoplay="4000" class="promo" pager="true"   loop="true" speed="300">
    <ion-slide *ngFor="let row of slider; let i = index">
      <img src="{{urlMaterial}}promo/{{row.image_promo}}" width="100%" (click)="goToPromo(slider[i])">
    </ion-slide>
  </ion-slides>
  <div>
    <ion-grid>
      <ion-row>
        <ion-col col-12 *ngIf="groupid==5">
          <div class="grid-tab">
            <ul>
              <li (click)="refreshReward()">
                <img class="tab-top" src="assets/material/reward-logo.png">
                <br/>
                <div *ngIf="rewardpoint > 0">Rp {{rewardpoint | number : fractionSize}}</div>
                <div *ngIf="rewardpoint < 1">Rp 0</div>
              </li>
              <li (click)="about()">
                <img class="tab-top" src="assets/material/kontak-logo.png">
                <br/>
                Kontak Kami
              </li>
            </ul>
          </div>
        </ion-col>

        <ion-col col-12  *ngIf="groupid==3">
          <div class="grid-tab">
            <ul>
              <li>Patria BC<br/>{{allPatria.length}}</li>
              <li>Salesman<br/>{{allDealer.length}}</li>
            </ul>
          </div>
        </ion-col>

        <ion-col col-12 *ngIf="groupid==4">
          <div class="grid-tab">
            <ul>
              <li>Sales<br/>{{allDealerChild.length}}</li>
              <li (click)="about()">
                <img class="tab-top" src="assets/material/kontak-logo.png">
                <br/>
                Kontak Kami
              </li>
            </ul>
          </div>
        </ion-col>

        <ion-col col-6 *ngIf="groupid!=6">
          <div class="grid-menu" (click)="katalog()">
            <ion-icon name="ios-folder-open"></ion-icon>
            <div class="grid-title">Katalog</div>
          </div>
        </ion-col>
        <ion-col col-6 *ngIf="groupid!=6">
          <div class="grid-menu" (click)="pemesanan()">
            <ion-icon name="ios-cart"></ion-icon>
            <div class="grid-title">Pemesanan</div>
          </div>
        </ion-col>
        <ion-col col-6 >
          <div class="grid-menu" (click)="inbox()">
            <ion-icon name="ios-mail-open">
              <div class="notif" *ngIf="notifInbox>0">
                {{notifInbox}}
              </div>
            </ion-icon>
            <div class="grid-title">Kotak Masuk</div>
          </div>
        </ion-col>
        <ion-col col-6 *ngIf="groupid==5" (click)="reward()">
          <div class="grid-menu">
            <ion-icon name="ios-list-box-outline"></ion-icon>
            <div class="grid-title">Reward</div>
          </div>
        </ion-col>

        <ion-col col-6 *ngIf="groupid==4 || groupid==3 || groupid==6" (click)="rewardPatria()">
          <div class="grid-menu">
            <ion-icon name="ios-list-box-outline"></ion-icon>
            <div class="grid-title">Reward Request</div>
          </div>
        </ion-col>

        <ion-col col-6 *ngIf="groupid==3||groupid==4">
          <div class="grid-menu" (click)="sales()">
            <ion-icon name="ios-people">
              <div class="notif" *ngIf="notifSales>0">
              {{notifSales}}
              </div>
            </ion-icon>
            <div class="grid-title">Sales</div>
          </div>
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-12>
          <p class="purnajual-txt">Layanan Purnajual</p>
        </ion-col>
        <ion-col col-6>
          <div class="purnajual left-grid">
            <img src="assets/material/purnajual.png">
          </div>
        </ion-col>
        <ion-col col-6 class="right-purnajual">
          <ion-row>
            
            <ion-col col-12 *ngFor="let row of kantor; let i=index">
              <a href="tel:{{row.phone}}">
                <div class="purnajual">
                  <ion-icon name="md-call"></ion-icon> &nbsp; {{row.nama_kantor}}
                </div>
              </a>
            </ion-col>

            <ion-col col-12>
              <a href="http://patria.co.id/" target="_system">
                <div class="purnajual">
                  <ion-icon name="md-globe"></ion-icon> &nbsp; www.patria.co.id
                </div>
              </a>
            </ion-col>
          </ion-row>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>


  <div class="popup-update" *ngIf="popUpUpdate==true">
    <div class="body">
      <h3>Perbarui Patria Mobile</h3>
      <p>Anda harus memperbaharui Patria Mobile ke versi terbaru sebelum Anda dapat menggunakan aplikasi ini.</p>
      <a (click)="playstore()"><button>PERBARUI</button></a>
    </div>
  </div>
</ion-content>
