.backbutton{
	color: #fff !important;
	width: 20px;
	width: 20px;
	float: left;
	margin-left: 20px;
	font-weight: 800;
	font-size: 20px;
}

.judul{
	margin-left: 15px;
	margin-top: 4px;
	float: left;
}

img.tab-top{
	width: 25px;
	margin-bottom: 7px;
}

.refresh{
	width: 30px;
	height: 30px;
	padding: 3px 7px;
	font-size: 20px;
	font-weight: 800;
	color: #fff;
}

.popup-update{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 999;
	background: rgba(0,0,0,0.8);

	.body{
		position: fixed;
		bottom: 0px;
		width: 100%;
		height: 200px;
		background: #fff;
		padding: 10px !important;

		h3{
			color: #e4001c;
			font-size: 18px;
		}

		button{
			width: 100%;
			background: #e4001c;
			color: #fff;
			padding: 15px;
			border-radius: 5px;
		}
	}
}