<ion-header>

  <ion-navbar color="merah">
    <ion-title>Reward</ion-title>
    <ion-buttons class="more" end (click)="sorting()" *ngIf="tabs=='my'"><button><ion-icon name="md-more"></ion-icon></button></ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-segment [(ngModel)]="tabs" color="merah">
    <ion-segment-button value="claim">
      List Claim
    </ion-segment-button>
    <ion-segment-button value="my" (click)="emptyCollect()">
      My Claim
    </ion-segment-button>
  </ion-segment>
  <div *ngIf="tabs=='claim'">
    <ion-searchbar placeholder="Search Sales" [showCancelButton]="shouldShowCancel" [(ngModel)]="searchKeyList" (ionChange)="search_reward_list(searchKeyList, itemsfilter)" *ngIf="itemsfilter.length>0"></ion-searchbar>
    <div class="filters__list">
      <div class="no-data" *ngIf="items.length=='0'">
        <br/>
        <br/>
        Tidak ada rewards, silahkan membuat order baru
      </div>
      <div class="filters__item" *ngFor="let row of items; let i = index">
        <div *ngIf="row.is_claim_reward > 1">
          <label style="background: #ddd">
            <ion-row>
              <ion-col col-6>
                Customer: {{row.nama_customer}}
                <br/>
                Proyek: {{row.nama_proyek}}
              </ion-col>
              <ion-col col-6>
                Status:
                <br/>
                <button class="label-warning" *ngIf="row.is_claim_reward=='5'">General Manager Verfication</button>
                <button class="label-warning" *ngIf="row.is_claim_reward=='4'">Finance Verification</button>
                <button class="label-warning" *ngIf="row.is_claim_reward=='3'">Sales Manager Verification</button>
                <button class="label-success" *ngIf="row.is_claim_reward=='1'">Finish</button>
                <button class="label-warning" *ngIf="row.is_claim_reward=='2'">Waiting</button>
              </ion-col>
              <ion-col col-6>
                <h2>{{row.nama_produk}}</h2>
                <p>
                  <span *ngFor="let attr of row.data_atribut_value">
                    <span>{{attr.value_atribut}} </span>
                  </span>
                  <span>x {{row.quantity}}</span>
                </p>
              </ion-col>
              <ion-col col-4>
                <h2>Reward</h2>
                <p>Rp {{row.estimasi_reward | number : fractionSize}}</p>
              </ion-col>
            </ion-row>
          </label>
        </div>
        <div *ngIf="row.is_claim_reward < 1">
          <input type="checkbox" id="reward-{{row.id}}" (click)="collectdata($event,row.id)">
          <label for="reward-{{row.id}}">
            <ion-row>
              <ion-col col-12>
                Customer: {{row.nama_customer}}
                <br/>
                Proyek: {{row.nama_proyek}}
              </ion-col>
              <ion-col col-6>
                <h2>{{row.nama_produk}}</h2>
                <p>
                  <span *ngFor="let attr of row.data_atribut_value">
                    <span>{{attr.value_atribut}} </span>
                  </span>
                  <span>x {{row.quantity}}</span>
                </p>
              </ion-col>
              <ion-col col-4>
                <h2>Reward</h2>
                <p>Rp {{row.estimasi_reward | number : fractionSize}}</p>
              </ion-col>
            </ion-row>
          </label>
        </div>
      </div>
    </div>
    <div class="{{modal}}">
      <div class="claim-select">{{collect.length}} reward selected</div>
      <button class="claim-now" (click)="claim()">Claim Now</button>
    </div>
  </div>

  <div *ngIf="tabs=='my'">
    <ion-searchbar placeholder="Search Sales" [showCancelButton]="shouldShowCancel" [(ngModel)]="searchKeyMy" (ionChange)="search_reward_my(searchKeyMy, myclaimfilter)" *ngIf="myclaimfilter.length>0"></ion-searchbar>
    <div class="filters__list">
      <div class="no-data" *ngIf="myclaim.length=='0'">
        <br/>
        <br/>
        Tidak ada claim rewards, silahkan membuat claim rewards
      </div>
      <div class="filters__item" *ngFor="let row of myclaim">
        <label (click)="rewardDetail(row.id)">
          <ion-row>
            <ion-col col-12>
              Customer: {{row.nama_customer}}
              <br/>
              Proyek: {{row.nama_proyek}}
            </ion-col>
            <ion-col col-5>
              <h2>{{row.nama_produk}}</h2>
              <p>
                <span *ngFor="let attr of row.data_atribut_value">
                  <span>{{attr.value_atribut}} </span>
                </span>
                <span>x {{row.quantity}}</span>
              </p>
            </ion-col>
            <ion-col col-4>
              <h2>Reward</h2>
              <p>{{row.estimasi_reward | number : fractionSize}}</p>
            </ion-col>
            <ion-col col-3>
              <button class="label-warning" *ngIf="row.is_claim_reward=='5'">General Manager Verfication</button>
              <button class="label-warning" *ngIf="row.is_claim_reward=='4'">Finance Verification</button>
              <button class="label-warning" *ngIf="row.is_claim_reward=='3'">Sales Manager Verification</button>
              <button class="label-success" *ngIf="row.is_claim_reward=='1'">Finish</button>
              <button class="label-warning" *ngIf="row.is_claim_reward=='2'">Waiting</button>
            </ion-col>
          </ion-row>
        </label>
      </div>
    </div>
  </div>
</ion-content>
