page-reward {
	.option-claim-close{
		display: none;
	}
	.option-claim-open{
		width: 100%;
		position: fixed;
		bottom: 0px;
		background: #e4001c;
		padding: 10px;
		color: #fff;
	}

	.claim-now{
		float: right;
		margin-right: 10px;
		padding: 8px;
		border-radius: 4px;
		background: none;
		border: 1px solid #fff;
		color: #fff; 
	}

	.claim-select{
		margin-top: 7px;
		float: left;
	}

	.filters__list {
	  margin: auto;
	  padding: 12px;
	  width: 100%;

	  h2{
	  	padding: 0px;
	  	margin: 0px;
	  	font-size: 16px;
	  }

	  p{
	  	padding: 0px;
	  	margin: 0px;	
	  }
	}
	.filters__item {
	  position: relative;
	  display: block;
	  margin-bottom: 3px;
	  background-color: #fff;
	  padding: 8px;
	  border: 1px solid #ddd;
	  border-radius: 3px;
	}
	.filters__item:last-child {
	  margin: 0;
	}

	.filters__item label {
	  display: block;
	}
	.filters__item label:hover {
	  cursor: pointer;
	}
	.filters__item input[type=checkbox] ~ label:after {
	  box-sizing: border-box;
	  font-family: FontAwesome;
	  content: "";
	  color: #FFF;
	  background-color: #FFF;
	  position: absolute;
	  height: 20px;
	  width: 20px;
	  right: 10px;
	  top: 20px;
	  border: 1px solid #AAA;
	  display: inline-block;
	  text-align: center;
	  padding-bottom: 2px;
	}
	.filters__item input[type=checkbox]:checked ~ label:after {
	  content: "\2714";
	  color: #000;
	  background-color: #FFF;
	}
	.filters__item input[type=checkbox] {
	  display: none;
	}

	.label-warning{
		background: #cca80c;
		color: #fff;
		padding: 3px 5px;
		border-radius: 3px;
		font-weight: 800;
		font-size: 12px;
		max-width: 90px;
		text-align: center;
	}

	.label-danger{
		background: #e4001c;
		color: #fff;
		padding: 3px 5px;
		border-radius: 3px;
		font-weight: 800;
		font-size: 12px;
		max-width: 90px;
		text-align: center;
	}

	.label-success{
		background: #2aaf52; 
		color: #fff;
		padding: 3px 5px;
		border-radius: 3px;
		font-weight: 800;
		font-size: 12px;
		max-width: 90px;
		text-align: center;
	}

}
