<!--
  Generated template for the DaftarPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="merah">
    <ion-title>Edit Profil</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="purchase">
  <div class="form-group">
    <label>Nama</label>
    <ion-item>
      <input type="text" placeholder="Nama" [(ngModel)]="dataForm.full_name">
      <p class="error_desc">{{data_error.nama}}</p>
    </ion-item>
  </div>
  <div class="form-group">
    <label>Email</label>
    <ion-item>
      <input type="text" placeholder="Email" [(ngModel)]="dataForm.email">
      <p class="error_desc">{{data_error.email}}</p>
    </ion-item>
  </div>
  <div class="form-group" *ngIf="groupid==5">
    <label>NIK</label>
    <ion-item>
      <input type="tel" pattern="[0-9]*" placeholder="NIK" [(ngModel)]="dataForm.nik">
      <button class="btn-masuk btn-upload" (click)="ganti_foto('ktp')"><ion-icon name="md-cloud-upload"></ion-icon>Upload</button>
      <p class="error_desc">{{data_error.ktp}}</p>
      <p class="error_desc">{{data_error.nik}}</p>
    </ion-item>

    <div class="upload-dokumen">
      <div *ngIf="loading_dokumen.ktp==false, else loading_progress_ktp">
        <img src="{{dokumenUrl.ktp==''||dokumenUrl.ktp==null?'assets/material/default-photo/ktp-default.jpg':dokumenUrl.ktp}}" width="100%" imageViewer />
      </div>
      <ng-template #loading_progress_ktp>
        <div style="width: 100%; text-align: center">
          <ion-spinner style="width: 50px; height: 50px;" name="ios"></ion-spinner>
          <p>Uploading KTP</p>
        </div>
      </ng-template>
    </div>
  </div>
  <div class="form-group" *ngIf="groupid==5">
    <label>NPWP</label>
    <ion-item>
      <input type="tel" pattern="[0-9]*" placeholder="NPWP" [(ngModel)]="dataForm.no_npwp">
      <button class="btn-masuk btn-upload" (click)="ganti_foto('npwp')"><ion-icon name="md-cloud-upload"></ion-icon>Upload</button>
      <p class="error_desc">{{data_error.npwp}}</p>
      <p class="error_desc">{{data_error.no_npwp}}</p>
    </ion-item>

    <div class="upload-dokumen">
      <div *ngIf="loading_dokumen.npwp==false, else loading_progress_npwp">
          <img src="{{dokumenUrl.npwp==''||dokumenUrl.npwp==null?'assets/material/default-photo/npwp-default.jpg':dokumenUrl.npwp}}" width="100%" imageViewer />
      </div>
      <ng-template #loading_progress_npwp>
        <div style="width: 100%; text-align: center">
          <ion-spinner style="width: 50px; height: 50px;" name="ios"></ion-spinner>
          <p>Uploading NPWP</p>
        </div>
      </ng-template>
    </div>
  </div>
  <div class="form-group">
    <label>Phone</label>
    <ion-item>
      <input type="tel" pattern="[0-9]*" placeholder="Phone" [(ngModel)]="dataForm.phone">
      <p class="error_desc">{{data_error.hp}}</p>
    </ion-item>
  </div>
  <div class="form-group" *ngIf="groupid==5">
    <label>Bank</label>
    <ion-item>
      <input type="text" placeholder="Nama Bank" [(ngModel)]="dataForm.bank">
      <p class="error_desc">{{data_error.bank}}</p>
    </ion-item>
  </div>
  <div class="form-group" *ngIf="groupid==5">
    <label>No. Rekening</label>
    <ion-item>
      <input type="tel" pattern="[0-9]*" placeholder="No. Rekening" [(ngModel)]="dataForm.no_rekening">
      <button class="btn-masuk btn-upload" (click)="ganti_foto('tabungan')"><ion-icon name="md-cloud-upload"></ion-icon>Upload</button>
      <p class="error_desc">{{data_error.tabungan}}</p>
      <p class="error_desc">{{data_error.rek}}</p>
    </ion-item>

    <div class="upload-dokumen">
      <div *ngIf="loading_dokumen.tabungan==false, else loading_progress_tabungan">
          <img src="{{dokumenUrl.tabungan==''||dokumenUrl.tabungan==null?'assets/material/default-photo/tabungan-default.jpg':dokumenUrl.tabungan}}" width="100%" imageViewer />
      </div>
      <ng-template #loading_progress_tabungan>
        <div style="width: 100%; text-align: center">
          <ion-spinner style="width: 50px; height: 50px;" name="ios"></ion-spinner>
          <p>Uploading Tabungan</p>
        </div>
      </ng-template>
    </div>
  </div>
  <div class="form-group" *ngIf="groupid==5">
    <label>Rekening Atas Nama</label>
    <ion-item>
      <input type="text" placeholder="Rekening Atas Nama" [(ngModel)]="dataForm.rekening_atas_nama">
      <p class="error_desc">{{data_error.rek_nama}}</p>
    </ion-item>
  </div>
  <div class="form-group" *ngIf="groupid==5">
    <label>Dealer</label>
    <ion-item>
      <input type="text" placeholder="Nama Dealer" [(ngModel)]="dataForm.dealer">
      <p class="error_desc">{{data_error.dealer}}</p>
    </ion-item>
  </div>
  <div class="form-group" *ngIf="groupid==5">
    <label>Alamat Dealer</label>
    <ion-item>
      <input type="text" placeholder="Alamat Dealer" [(ngModel)]="dataForm.alamat_dealer">
      <p class="error_desc">{{data_error.alamat_dealer}}</p>
    </ion-item>
  </div>
  <div class="form-group" *ngIf="groupid==4">
    <label>Lokasi</label>
    <ion-item>
      <input type="text" placeholder="Lokasi" [(ngModel)]="dataForm.lokasi">
      <p class="error_desc">{{data_error.lokasi}}</p>
    </ion-item>
  </div>
  <div *ngIf="groupid==4||groupid==3||groupid==6">
    <div class="input-group setuju">
      <div *ngIf="signatureTemp==true">
        <div style="border: 1px dashed #aaa; margin-top: 10px; min-height: 100px;">
          <img src="{{urlMaterial[0]}}foto_user/berkas/{{dataForm.signature}}" width="100%">
        </div>
        <p class="error_desc">{{data_error.signature_tmp}}</p>
        <button class="clear-sign" ion-button (click)="edit_signature()">Edit Signature</button>
      </div>
      <div *ngIf="signatureTemp==false">
        <signature-pad [options]="signaturePadOptions" (onEndEvent)="drawComplete()"></signature-pad>
        <p class="error_desc">{{data_error.signature}}</p>
        <ion-row>
          <ion-col col-6>
            <button class="clear-sign" ion-button (click)="drawClear()">Clear</button>
          </ion-col>
          <ion-col col-6>
            <button class="clear-sign" color="danger" ion-button (click)="cancel_signature()">Cancel</button>
          </ion-col>
        </ion-row>
      </div>
    </div>
  </div>
  <div *ngIf="groupid==5">
    <div class="input-group setuju">
      <div class="icon">
        <ion-checkbox [(ngModel)]="dataForm.agreement_snk"></ion-checkbox>
      </div>
      <div class="form">
        Dengan ini Saya telah menyetujui seluruh <a (click)="terms()"><b>Syarat dan Ketentuan</b></a> yang berlaku
      </div>
      <p class="error_desc">{{data_error.snk}}</p>
    </div>
    <div *ngIf="signatureTemp==true">
      <div style="border: 1px dashed #aaa; margin-top: 10px; min-height: 100px;">
        <img src="{{urlMaterial[0]}}foto_user/berkas/{{dataForm.signature}}" width="100%">
      </div>
      <p class="error_desc">{{data_error.signature_tmp}}</p>
      <button class="clear-sign" ion-button (click)="edit_signature()">Edit Signature</button>
    </div>
    <div *ngIf="signatureTemp==false">
      <signature-pad [options]="signaturePadOptions" (onEndEvent)="drawComplete()"></signature-pad>
      <p class="error_desc">{{data_error.signature}}</p>
      <ion-row>
        <ion-col col-6>
          <button class="clear-sign" ion-button (click)="drawClear()">Clear</button>
        </ion-col>
        <ion-col col-6>
          <button class="clear-sign" color="danger" ion-button (click)="cancel_signature()">Cancel</button>
        </ion-col>
      </ion-row>
    </div>
    <div class="input-group setuju">
      <div class="icon">
        <ion-checkbox [(ngModel)]="dataForm.agreement_skb"></ion-checkbox>
      </div>
      <div class="form">
        Dengan ini saya menyetujui dan menyepakati seluruh syarat dan ketentuan yang diatur dalam <a (click)="skb_open(dataForm)"><b>Surat Kesepakatan Bersama</b></a>
      </div>
      <p class="error_desc">{{data_error.skb}}</p>
    </div>
  </div>
  <div class="button-space">
    <button class="btn-masuk" (click)="simpan()">Simpan</button>
  </div>

  <!-- The Modal -->
  <div class="modal" *ngIf="modal==true">

    <!-- Modal content -->
    <div class="modal-content">
      <span class="close" (click)="closemodal()">&times;</span>
      <div class="image">
        <img src="{{modalimage}}">
      </div>
      <div class="ganti">
        <button (click)="ganti_foto(modaltype)"><ion-icon name="md-cloud-upload"></ion-icon> Ganti Photo</button>
      </div>
    </div>

  </div>
</ion-content>
