page-edit-profil {
	input.error_input::-webkit-input-placeholder {
		color: red;
	}

	.error_desc{
		color: red;
		font-size: 11px;
		margin: 0px;
	}

	.error_desc.cek{
		padding-left: 0px;
	}

	.form-upload{
		position: inherit;
	}

	.btn-upload{
		width: auto;
		text-align: left;
		padding: 5px 10px;
		float: right;
		font-size: 12px;
		position: absolute;
		right: 20px;
		width: 85px;
		text-align: center;

		.icon{
			color: #fff;
			margin-right: 5px;
			line-height: 12px;
			font-size: 16px;
		}
	}

	.btn-lihat{
		width: auto;
		text-align: left;
		padding: 5px 10px;
		float: right;
		font-size: 12px;
		position: absolute;
		right: 20px;
		background: green;
		width: 85px;
		text-align: center;

		.icon{
			color: #fff;
			line-height: 12px;
			font-size: 16px;
		}	
	}

	/* The Modal (background) */
	.modal {
	    position: fixed; /* Stay in place */
	    z-index: 999999; /* Sit on top */
	    padding-top: 100px; /* Location of the box */
			left: 0;
			right: 0;
			top: 0;
			bottom: 0;
	    overflow: auto; /* Enable scroll if needed */
	    background-color: rgb(0,0,0); /* Fallback color */
	    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
	}

	/* Modal Content */
	.modal-content {
	    background-color: #fefefe;
	    margin: auto;
	    border: 1px solid #888;
	    left: 50px;
	    right: 50px;
	    position: inherit;

	    .image{
	    	height: auto;

	    	img{
	    		width: 100%;
	    	}
	    }

	    .ganti{
	    	margin-top: -5px;
	    	
	    	button{
	    		background: green;
	    		width: 100%;
	    		color: #fff;
	    		padding: 10px;
	    		font-size: 20px;

	    		.icon{
	    			margin-right: 10px;
	    		}
	    	}
	    }
	}

	/* The Close Button */
	.close {
		width: 30px;
		height: 30px;
		border-radius: 50%;
		background: #fff;
	    color: #000;
	    float: right;
	    right: -7px;
	    top: -7px;
	    font-size: 28px;
	    font-weight: bold;
	    text-align: center;
	    position: absolute;
	}

	.close:hover,
	.close:focus {
	    color: #000;
	    text-decoration: none;
	    cursor: pointer;
	}

	.input-group{
		.form{
			color: #000;
			font-size: .8em;
		}
	}

	.upload-dokumen{
		margin-bottom: 10px;
	}
}
