<ion-header>

  <ion-navbar color="merah">
    <ion-title>{{judul}} Pemesanan</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <div>
    <div class="list-order">
      <h3>{{items.nama_produk}}</h3>
      <p class="detil-produk" *ngFor="let row of items.data_atribut_value">
        {{row.value_atribut}}
      </p>
      <table>
        <tr>
          <td class="name"><ion-icon name="ios-person"></ion-icon> &nbsp; Customer</td>
          <td>:</td>
          <td>{{items.nama_customer}}</td>
        </tr>
        <tr>
          <td class="name"><ion-icon name="ios-copy"></ion-icon> &nbsp; Proyek</td>
          <td>:</td>
          <td>{{items.nama_proyek}}</td>
        </tr>
        <tr>
          <td class="name"><ion-icon name="ios-create"></ion-icon> &nbsp; Status</td>
          <td>:</td>
          <td>
            <div class="label-warning" *ngIf="items.status_order=='waiting'">Waiting</div>
            <div class="label-success" *ngIf="items.status_order=='verified'">Verified</div>
            <div class="label-danger" *ngIf="items.status_order=='rejected'">Rejected</div>
            <div class="label-warning" *ngIf="items.status_order=='po_process'">PO Process</div>
            <div class="label-warning" *ngIf="items.status_order=='hold'">Hold</div>
            <div class="label-danger" *ngIf="items.status_order=='canceled'">Canceled</div>
            <div class="label-success" *ngIf="items.status_order=='on_process'">On Process</div>
            <div class="label-danger" *ngIf="items.status_order=='rejected_po'">Rejected PO</div>
            <div class="label-success" *ngIf="items.status_order=='delivered'">Delivered</div>
            <div class="label-success" *ngIf="items.status_order=='req_released_reward'">Request Reward</div>
            <div class="label-success" *ngIf="items.status_order=='finish'">Finish</div>
          </td>
        </tr>
        <tr>
          <td class="name"><ion-icon name="ios-calendar"></ion-icon> &nbsp; Tanggal Pesan</td>
          <td>:</td>
          <td>{{items.created_date}}</td>
        </tr>
        <tr>
          <td colspan="3"><br/><div class="label-ket">Harga Katalog Patria</div></td>
        </tr>
        <tr>
          <td class="name"><ion-icon name="ios-cash"></ion-icon> &nbsp; Harga</td>
          <td>:</td>
          <td>{{items.total_harga*items.quantity}}</td>
        </tr>
        <tr>
          <td class="name"><ion-icon name="ios-cog-outline"></ion-icon> &nbsp; Reward</td>
          <td>:</td>
          <td>{{items.total_reward}}</td>
        </tr>
        <tr>
          <td colspan="3"><div class="label-ket">Harga Jual Sales</div></td>
        </tr>
        <tr>
          <td class="name"><ion-icon name="ios-cash"></ion-icon> &nbsp; Estimasi Harga</td>
          <td class="tikwa">:</td>
          <td>Rp {{items.estimasi_harga | number : fractionSize}}</td>
        </tr>
        <tr>
          <td class="name"><ion-icon name="ios-cog-outline"></ion-icon> &nbsp; Estimasi Reward</td>
          <td class="tikwa">:</td>
          <td>Rp {{items.estimasi_reward | number : fractionSize}}</td>
        </tr>
      </table>
      <textarea rows="7" placeholder="Tambahkan Catatan" [(ngModel)]="catatan"></textarea>
      <div class="error">{{err_catatan}}</div>
      <div>
        <div class="button">
          <button (click)="confirm()">Submit</button>
        </div>
      </div>
    </div>
  </div>
</ion-content>
