page-confirm-order {
	.list-order{
		background: #fff;
		width: 95%;
		margin: 5px auto;
		padding: 20px;
		border-radius: 5px;
		border: 1px solid #ddd;
		-webkit-box-shadow: 0px 1px 18px -7px rgba(125,125,125,1);
		-moz-box-shadow: 0px 1px 18px -7px rgba(125,125,125,1);
		box-shadow: 0px 1px 18px -7px rgba(125,125,125,1);

		h3{
			margin: 0px;
			padding: 0px;
			font-size: 20px;
		}

		.detil-produk{
			padding: 0px;
			margin: 0px;
		}

		table{
			margin-top: 10px;
			width: 100%;

			tr{
				td{
					color: #2f2f2f;
					font-weight: 300;
					line-height: 30px;

					.label-ket{
						color: #e4001c;
						width: 100%;
						font-weight: 500;
						border-bottom: 1px solid #e4001c;
					}
				}

				td.name{
					width: 130px;

					ion-icon{
						color: #e4001c;
					}
				}
			}
		}
	}

	.label-warning{
		background: #cca80c;
		color: #fff;
		border-radius: 3px;
		font-weight: 800;
		font-size: 12px;
		max-width: 90px;
		text-align: center;
	}

	.label-danger{
		background: #e4001c;
		color: #fff;
		border-radius: 3px;
		font-weight: 800;
		font-size: 12px;
		max-width: 90px;
		text-align: center;
	}

	.label-success{
		background: #2aaf52; 
		color: #fff;
		border-radius: 3px;
		font-weight: 800;
		font-size: 12px;
		max-width: 90px;
		text-align: center;
	}

	.error{
		color: red;
	}

}
