<!--
  Generated template for the ResetSandiPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="merah">
    <ion-title>Reset Kata Kunci</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="input-group">
    <div class="icon">
      <ion-icon name="md-mail"></ion-icon>
    </div>
    <div class="form">
      <input type="text" placeholder="Masukan Email" [(ngModel)]="email">
      <p class="error_desc">{{data_error}}</p>
    </div>
  </div>
  <div class="button-space">
    <button class="btn-masuk" (click)="submit()">Reset Kata Kunci</button>
  </div>
</ion-content>
