<!--
  Generated template for the KatalogDokumenPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="merah">
    <ion-title>Detail {{katalog_name}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  
</ion-content>
