<ion-header>

  <ion-navbar color="merah">
    <ion-title><h5>Ganti Password</h5></ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="form-group">
    <label>Password Lama</label>
    <ion-item>
      <input type="password" placeholder="Masukan Password Lama" [(ngModel)]="dataForm.old_password">
      <p class="error_desc">{{err.old_password}}</p>
    </ion-item>
  </div>
  <div class="form-group">
    <label>Password Baru</label>
    <ion-item>
      <input type="password" placeholder="Masukan Password Lama" [(ngModel)]="dataForm.new_password">
      <p class="error_desc">{{err.new_password}}</p>
    </ion-item>
  </div>
  <div class="form-group">
    <label>Retype Password Baru</label>
    <ion-item>
      <input type="password" placeholder="Masukan Password Baru" [(ngModel)]="dataForm.new_password2">
      <p class="error_desc">{{err.new_password2}}</p>
    </ion-item>
  </div>
  <div class="button-space">
    <button class="btn-masuk" (click)="ubah()">Ubah Password</button>
  </div>
</ion-content>
