page-reward-detail {
	.option-claim-close{
		display: none;
	}
	.option-claim-open{
		width: 100%;
		position: fixed;
		bottom: 0px;
		background: #e4001c;
		padding: 10px;
		color: #fff;
	}

	.claim-now{
		float: right;
		margin-right: 10px;
		padding: 8px;
		border-radius: 4px;
		background: none;
		border: 1px solid #fff;
		color: #fff; 
	}

	.claim-select{
		margin-top: 7px;
		float: left;
	}

	.filters__list {
	  margin: auto;
	  padding: 12px;
	  width: 100%;

	  h2{
	  	padding: 0px;
	  	margin: 0px;
	  	font-size: 16px;
	  }

	  p{
	  	padding: 0px;
	  	margin: 0px;	
	  }
	}
	.filters__item {
	  position: relative;
	  display: block;
	  margin-bottom: 3px;
	  background-color: #fff;
	  padding: 8px;
	  border: 1px solid #ddd;
	  border-radius: 3px;
	}
	.filters__item:last-child {
	  margin: 0;
	}

	.filters__item label {
	  display: block;
	}
	.filters__item label:hover {
	  cursor: pointer;
	}
	.filters__item input[type=checkbox] ~ label:after {
	  box-sizing: border-box;
	  font-family: FontAwesome;
	  content: "\2714";
	  color: #FFF;
	  background-color: #FFF;
	  position: absolute;
	  height: 20px;
	  width: 20px;
	  right: 10px;
	  top: 20px;
	  border: 1px solid #AAA;
	  display: inline-block;
	  text-align: center;
	  padding-bottom: 2px;
	}
	.filters__item input[type=checkbox]:checked ~ label:after {
	  content: "\2714";
	  color: #000;
	  background-color: #FFF;
	}
	.filters__item input[type=checkbox] {
	  display: none;
	}

	.label-warning{
		background: #cca80c;
		color: #fff;
		padding: 3px 5px;
		border-radius: 3px;
		font-weight: 800;
		font-size: 12px;
		max-width: 90px;
		text-align: center;
	}

	.label-danger{
		background: #e4001c;
		color: #fff;
		padding: 3px 5px;
		border-radius: 3px;
		font-weight: 800;
		font-size: 12px;
		max-width: 90px;
		text-align: center;
	}

	.label-success{
		background: #2aaf52; 
		color: #fff;
		padding: 3px 5px;
		border-radius: 3px;
		font-weight: 800;
		font-size: 12px;
		max-width: 90px;
		text-align: center;
	}

	.timeline {
	  margin: 0 0 3rem 0;
	  position: relative;
	}
	.timeline:before {
	  content: '';
	  display: block;
	  background-color: #FFE066;
	  position: absolute;
	}
	.timeline--vertical {
	  margin: 0px 0px 0px 50px;
	}
	.timeline--vertical:before {
	  width: 3px;
	  height: 100%;
	  top: 0;
	  left: calc(-3rem / 2 - 3px / 2 - 2rem);
	}
	.timeline--vertical .timeline__item:first-child:after {
	  width: 3px;
	  height: 50%;
	  top: 0;
	  left: calc(-3rem / 2 - 3px / 2 - 2rem);
	}
	.timeline--vertical .timeline__item:last-child:after {
	  width: 3px;
	  height: 50%;
	  bottom: 0;
	  left: calc(-3rem / 2 - 3px / 2 - 2rem);
	}
	
	.timeline__item {
	  background-color: #fff;
	  margin: 0 0 1rem 0;
	  max-width: 300px;
	  padding: 1rem;
	  position: relative;
	  border: 1px solid #e4001c;
	}
	.timeline__item:before {
	  content: '';
	  display: block;
	  width: 3rem;
	  height: 3rem;
	  background-color: #e4001c;
	  border-radius: 3rem;
	  position: absolute;
	  z-index: 1;
	  top: calc(50% - 3rem / 2);
	  left: calc(-3rem - 2rem);
	}
	.timeline__item:first-child:after {
	  content: '';
	  display: block;
	  background-color: white;
	  position: absolute;
	}
	.timeline__item:last-child:after {
	  content: '';
	  display: block;
	  background-color: white;
	  position: absolute;
	}

	.tanggal{
		font-size: 12px;

		ion-icon{
			color: #e4001c;
		}
	}
}
