<ion-header>

  <ion-navbar color="merah">
    <ion-title>Detail Reward Request</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-segment [(ngModel)]="tabs" color="merah">
    <ion-segment-button value="detail">
      Detail
    </ion-segment-button>
    <ion-segment-button value="histori">
      Histori
    </ion-segment-button>
  </ion-segment>

  <div *ngIf="tabs=='detail'">
    <div class="filters__list">
      <div class="no-data" *ngIf="items.length=='0'">
        Tidak ada rewards, silahkan membuat order baru
      </div>
      <div class="filters__item" *ngFor="let row of items">
        <label>
          <ion-row>
            <ion-col col-12>
              <h2><strong>Request: </strong>{{row.full_name}}</h2>
            </ion-col>
            <ion-col col-5>
              <h2>{{row.nama_produk}}</h2>
              <p>
                <span *ngFor="let attr of row.data_atribut_value">
                  <span>{{attr.value_atribut}} </span>
                </span>
                <span>x {{row.quantity}}</span>
              </p>
            </ion-col>
            <ion-col col-4>
              <h2>Reward</h2>
              <p>{{row.estimasi_reward | number : fractionSize}}</p>
            </ion-col>
            <ion-col col-3>
              <button class="label-warning" *ngIf="row.is_claim_reward=='5'">General Manager Verfication</button>
              <button class="label-warning" *ngIf="row.is_claim_reward=='4'">Finance Verification</button>
              <button class="label-warning" *ngIf="row.is_claim_reward=='3'">Sales Manager Verification</button>
              <button class="label-success" *ngIf="row.is_claim_reward=='1'">Finish</button>
              <button class="label-warning" *ngIf="row.is_claim_reward=='2'">Waiting</button>
            </ion-col>
            <ion-col col-12>
              Detail Order <button class="label-success" (click)="lihat_order()">Lihat Order</button>
            </ion-col>
          </ion-row>
        </label>
        
        <div *ngIf="groupid==4">
          <div *ngIf="(row.is_claim_reward==4||row.is_claim_reward==5)&&row.memo_file==null">
            <div class="button" style="margin-top:10px!important">
              <button (click)="internal_memo_gm()">Lihat Internal Memo</button>
            </div>
          </div>
        </div>

        <div *ngIf="groupid==3&&row.is_claim_reward>=3">
          <div class="note-label" *ngIf="datauser[0]?.signature==null||datauser[0]?.signature==''&&row.is_claim_reward==3" (click)="edit_profile()" style="margin-top:20px">
              <ion-icon name="ios-information-circle" style="font-size: 2em; margin-top:-5px"></ion-icon>Signature belum di set, <b color="merah">Set Signature</b>
          </div>
          <div *ngIf="row.memo_file==null" class="button" style="margin-top:10px!important">
            <button (click)="internal_memo_sm()">Lihat Internal Memo</button>
          </div>
          <div class="button" style="margin-top:10px!important" *ngIf="row.is_claim_reward==3">
            <button (click)="verified_realese()">Verified Release Reward</button>
          </div>
        </div>
        <div *ngIf="groupid==4">
          <div class="button" *ngIf="row.is_claim_reward=='2'">
            <button (click)="verified()">Verified Reward</button>
          </div>
        </div>
        <div *ngIf="groupid==6&&row.is_claim_reward=='5'">
          <div class="button" style="margin-top:10px!important">
            <button (click)="internal_memo_gm()">Lihat Internal Memo</button>
          </div>
          <div class="button">
            <button (click)="realese_gm()">Verified Realese Reward</button>
          </div>
        </div>
        <div *ngIf="row.memo_file&&groupid!=4">
          <div class="button" style="margin-top:10px!important">
            <button (click)="internal_memo(row.memo_file)">Lihat Internal Memo</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="tabs=='histori'" padding>
    <nav class="timeline timeline--vertical">
      <div class="timeline__item" *ngFor="let row of histori">
        <div class="tanggal">
          <ion-icon name="ios-calendar"></ion-icon> &nbsp; {{row.created_date}}
        </div>
        <br/>
          {{row.keterangan}}
        <br/>
        <br/>
        <div class="label-warning" *ngIf="row.status=='waiting'">Waiting</div>
        <div class="label-success" *ngIf="row.status=='verified'">Sales Manager Verification</div>
        <div class="label-success" *ngIf="row.status=='verified_gm'">General Manager Verification</div>
        <div class="label-success" *ngIf="row.status=='verified_finance'">Finance Verification</div>
        <div class="label-success" *ngIf="row.status=='finish'">Finish</div>
      </div>
    </nav>
  </div>
</ion-content>
