.content{
	background: #fff;
}

.note-label{
	color: #000;
	font-weight: 300;
	border: 1px solid #ddd;
	margin: 5px 0px;
	font-size: 12px;
	padding: 10px;
	line-height: 15px;

	.icon{
		float: left;
		color: red;
		font-size: 30px;
		width: 40px;
	}
}

.side-menu{
	.list-md{
		margin:0px !important;
		border-bottom: 1px solid #ddd !important;
	}

	ion-icon{
		color: #e4001c;
	}
}

.no-data{
	text-align: center;
	color: #e4001c;
}

.toolbar-title-md {
    padding: 0 12px;
    font-size: 1.5rem;
    font-weight: 0;
    color: #424242;
}

.logo-login{
	width: 100px;
	margin: auto;

	img{
		width:100%;
	}
}

textarea{
	width: 100%;
	border: 1px solid #e4001c;
	margin-top: 10px;
	padding: 5px;
}

.input-group{
	margin-top: 20px;
	width: 100%;
	font-size: 17px;
	font-weight: 0 !important;
	color: #9b9b9b;

	.icon{
		float: left;
		width: 20px;
		padding-top: 1px;
		color: #e4001c;
		font-size: 20px;
	}

	.form{
		overflow: hidden;

		input[type="text"], input[type="password"], input[type="number"], input[type="email"], input[type="tel"]{
			width: 100%;
			display: block;
			margin-left: 20px;
			border-top: 0;
			border-left: 0;
			border-right: 0;
			border-bottom: 1.5px solid #9b9b9b;
		}
	}
}

.input-group{
	content: "";
	display: table;
	clear: both;
}

.button-space{
	width: 100%;
	text-align: center;
	margin-top: 50px;
}

.btn-masuk{
	background: #e4001c;
	font-size: 17px;
	color: #fff;
	width: 200px;
	padding: 10px 0;
	border-radius: 25px;
}

ion-slides.promo{
	height: auto !important;

	.swiper-pagination-bullet-active{
		background: #e4001c !important;
	}
}

.grid-menu{
	background: #e1e2e5;
	color: #fff;
	border-radius: 5px;
	text-align: center;
	padding: 10px;
	height: 80px;

	ion-icon{
		border-radius: 50%;
		background: #e4001c;
		padding: 10px;
		width: 40px;
		height: 40px;
		font-size: 20px;

		.notif{
			top: 15px;
			right: 35%;
			position: absolute;
			padding-top: 4px;
			background: yellow;
			font-size: 14px;
			color: #e4001c;
			border-radius: 50%;
			width: 20px;
			height: 20px;
			font-family: 'arial';
		}
	}

	.grid-title{
		margin-top: 5px;
		color: #e4001c;
		font-size: 12px;
	}
}

.right-purnajual{
	.col:first-child{
		padding: 0px 0px 3px 0px;
	}

	.col{
		padding: 3px 0px;
	}

	.col:last-child{
		padding: 3px 0px 0px 0px;
	}

	a{
		text-decoration: none;
	}
}

.purnajual{
	background: #e1e2e5;
	border-radius: 5px;
	text-align: center;
	padding: 10px;
	height: auto;
	color: #000 !important;
	text-align: left;
	font-size: 12px;
}

.purnajual.left-grid{
	height: 162px;
	text-align: center;
	padding-top: 20px;

	img{
		height: 120px;
	}
}

.purnajual-txt{
	margin: 10px 0 0 0;
}

.grid-tab{
	background: #6e6f73;
	color: #fff;
	border-radius: 5px;
	padding: 10px;

	ul{
		list-style-type: none;
	    margin: 0;
	    padding: 0;
	    overflow: hidden;
	}

	ul li{
		float: left;
		width: 50%;
		padding: 20px;
		text-align: center;
	}

	ul li:nth-child(1){
		border-right: 1px solid #fff;
	}
}

.grid-katalog{
	background: #e1e2e5;
	border-radius: 5px;

	.title-katalog{
		position: absolute;
		bottom: 15px;
		left: 15px;
		font-size: 15px;
	}
}

.header-menu{
	background: #e4001c;
	width: 100%;
	height: auto;
	padding: 20px;
	text-align: center;
	color: #fff;

	.user-img{
		width: 100px;
		height: 100px;
		border-radius: 50%;
		overflow: hidden;
		border: 1px solid #fff;
		margin: auto;
	}

	.user-detail{
		margin-top: 10px;

		button{
			background: #e4001c;
			margin-top: 10px;
			color: #fff;
			border: 1px solid #fff;
			border-radius: 3px;
			padding: 5px 10px;
		}
	}
}

.form-group{
	margin-bottom: 10px;

	[type="number"], [type="text"], [type="password"], [type="tel"]{
		width: 100%;
		border:0px;
	}
}

.purchase{
	label{
		font-weight: 800;
		color: #e4001c;
	}

	ion-select{
		max-width: 100%;
		width: 100%;
		padding: 10px 5px 10px 0px;
	}
}

.button{
	margin-top: 20px;
	width: 100%;
	white-space: pre-line;

	button{
		min-width: 150px;
		max-width: 250px;
		padding: 7px;
		border-radius: 5px;
		background: #e4001c;
		color: #fff;
		margin: 5px;
		font-size: 14px;
	}
}

.item-md .radio-md .radio-icon{
	display: none;
}

.item-radio-checked.item-md ion-label{
	color: #e4001c;
}


.item-md.item-block .item-inner {
    padding-right: 8px;
    border-bottom: 1px solid #e4001c;
}

.item-md{
	padding-left: 0px;
}

.list .item{
	padding-left: 10px;

	.item-inner{
		border: 0px;
	}
}

.pdf-viewer{
	width: 100%;
	height: 100%;
	overflow-x: hidden;
}

input{
	color: #000;
}

//alert
.alert-wrapper{
	border: 1px solid #e4001c;
	border-radius: 10px !important;
	text-align: center;

	.alert-title{
		font-size: 16px;
		text-align: center;
	}

	.alert-button-group{
		border-top: 1px solid #e4001c;
		padding: 0px;
		justify-content: inherit;
		width: 100%;

		.alert-button{
			width: 50% !important;
			margin: 0px;
			padding: 10px;
			text-transform: capitalize;
			color: #000;

			.button-inner{
				justify-content: center !important;
			}
		}

		.alert-button:only-child{
			width: 100% !important;
		}

		.alert-button:hover{
			background: #e4001c;
			color: #fff;
		}

		button:last-child{
			text-align: center;
			border-left: 1px solid #e4001c;
		}
	}
}

.action-sheet-container{
	text-align: center;

	.action-sheet-title{
		text-align: center;
	}

	button{
		border: 1px solid #e4001c;
		margin-top: 10px;
		width: 90%;
		border-radius: 10px;
		text-align: center;
		position: inherit !important;

		.button-inner{
			justify-content: center !important;
		}
	}

	button:hover{
		background: #e4001c !important;
		color: #fff;
	}
}

//toast
.md .toast-wrapper{
	background: rgba(0,0,0,0.9);
	width: 97%;
	border-radius: 10px;
	margin-bottom: 5px;
	font-weight: 300;

	.toast-container{
		display: block;
	}

	.toast-message{
		width: 100%;
	}

	.toast-button{
		margin-top: 0px;
		text-transform: capitalize;
	}
}

table tr td:nth-child(2){
	width: 10px;
}

.more{
	button{
		color: #fff;
		font-size: 20px;
		background: none;
		width: 40px;
	}
}

ion-app .nav-decor{
  background-color: transparent !important;
}

.popup-update{
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 999;
	background: rgba(0,0,0,0.8);

	.body{
		position: fixed;
		bottom: 0px;
		width: 100%;
		height: 200px;
		background: #fff;
		padding: 10px !important;

		h3{
			color: #e4001c;
			font-size: 18px;
		}

		button{
			width: 100%;
			background: #e4001c;
			color: #fff;
			padding: 15px;
			border-radius: 5px;
		}
	}
}

.modal-update-profile{
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: rgba(0,0,0,0.5);
	z-index: 99999999;


	.wrapper{
		position: absolute;
		width: 250px;
		background: #fff;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		border-radius: 10px;
		border: 1px solid #e4001c;
		overflow: hidden;

		.body{
			text-align: center;
			padding: 20px;
		}

		.footer{
			border-top: 1px solid #e4001c;

			button{
				width: 100%;
				background: #fff;
				padding: 20px;
				font-weight: 800;
			}

			button:active{
				background: #e4001c;
				color: #fff;
			}
		}
	}
}

signature-pad{
	canvas{
		margin-top: 20px;
		border: 1px dashed #aaa;
		width: 100% !important;
		background-image: url('../assets/material/sign-here.png');
	    background-repeat: no-repeat;
	    background-position-y: 95%;
	    background-size: 100% auto;
	    background-color: #fff;
	}
}

.clear-sign{
	margin-top: 0px !important;
}

.searchbar{
		.searchbar-clear-icon{
			margin-top: 0px !important;
		}
	}