<ion-menu [content]="content" persistent="true">
  <ion-content>
    <div class="header-menu">
      <div class="user-img">
        <img src="{{urlMaterial}}foto_user/{{photo}} ">
      </div>
      <div class="user-detail">
        <strong>{{nama}}</strong>
        <br/>
        <strong>{{email}}</strong>
        <br/>
        <button (click)="goTo('ProfilPage')">Lihat Profil</button>
      </div>
    </div>
    <div class="side-menu">
      <ion-list>
        <button menuClose ion-item>
          <ion-icon name="md-home" (click)="beranda()"></ion-icon> &nbsp; Beranda
        </button>
      </ion-list>
      <ion-list *ngIf="groupid==5"  (click)="goTo('KatalogPage')">
        <button menuClose ion-item>
          <ion-icon name="ios-folder-open"></ion-icon> &nbsp; Katalog
        </button>
      </ion-list>
      <ion-list (click)="goTo('PemesananPage')">
        <button menuClose ion-item>
          <ion-icon name="ios-cart"></ion-icon> &nbsp; Pemesanan
        </button>
      </ion-list>
      <ion-list *ngIf="groupid==5" (click)="goTo('RewardPage')">
        <button menuClose ion-item>
          <ion-icon name="ios-list-box"></ion-icon> &nbsp;  Reward
        </button>
      </ion-list>
      <ion-list *ngIf="groupid==4||groupid==3" (click)="goTo('RewardPatriaPage')">
        <button menuClose ion-item>
          <ion-icon name="ios-list-box"></ion-icon> &nbsp;  Reward Request
        </button>
      </ion-list>
      <ion-list *ngIf="groupid==3||groupid==4"  (click)="goTo('SalesPage')">
        <button menuClose ion-item>
          <ion-icon name="ios-people"></ion-icon> &nbsp;  Sales
        </button>
      </ion-list>
      <ion-list (click)="goTo('FaqPage')">
        <button menuClose ion-item>
          <ion-icon name="ios-copy"></ion-icon> &nbsp;  FAQ
        </button>
      </ion-list>
      <ion-list (click)="goTo('TermsPage')">
        <button menuClose ion-item>
          <ion-icon name="ios-bookmarks"></ion-icon> &nbsp;  Ketentuan Penggunaan Umum
        </button>
      </ion-list>
      <ion-list>
        <button menuClose ion-item (click)="logout()">
          <ion-icon name="md-exit"></ion-icon> &nbsp; Log Out
        </button>
      </ion-list>
    </div>
    <div style="z-index: 99999999;font-size: 14px; left: 10px;bottom: 5px;margin:20px 10px 10px 10px;">v{{appversion}}</div>
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content swipeBackEnabled="false"></ion-nav>
<div class="popup-update" *ngIf="popUpUpdate==true">
  <div class="body">
    <h3>Perbarui Patria Mobile</h3>
    <p>Anda harus memperbaharui Patria Mobile ke versi terbaru sebelum Anda dapat menggunakan aplikasi ini.</p>
    <a (click)="playstore()"><button>PERBARUI</button></a>
  </div>
</div>