<!--
  Generated template for the TesPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>tes</ion-title>
  </ion-navbar>
  <button ion-button menuToggle>Toggle Menu</button>

</ion-header>


<ion-content padding>

</ion-content>
