<ion-header>

  <ion-navbar color="merah">
    <ion-title>Sales Detail</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <div>
    <div class="cover">
      <a href="tel:{{salesDetail.phone}}" class="call-sales">
        <ion-icon name="ios-call"></ion-icon>
      </a>
      <div class="avatar">
          <img src="{{urlMaterial}}foto_user/{{salesDetail.photo}} " width="100" />
          <div class="light">
          </div>
      </div>
    </div>

    <div class="main">
        <h1>{{salesDetail.full_name}}</h1>
        <p class="nama-dealer">{{salesDetail.dealer}}</p>
        <button *ngIf="salesDetail.active==1" class="label-success">Terverifikasi</button>
        <button *ngIf="salesDetail.active==2" class="label-warning">Ditolak</button>
        <button *ngIf="salesDetail.active==0" class="label-success label-verifikasi" (click)="verifikasi()">+ Verifikasi</button>
        <button *ngIf="salesDetail.active==0" class="label-warning label-verifikasi" (click)="tolak()">- Tolak</button>
    </div>
  </div>
  <ion-segment [(ngModel)]="tabsprofil" color="merah" *ngIf="salesDetail.active==1&&groupid!=5">
    <ion-segment-button value="profil">
      Profil
    </ion-segment-button>
    <ion-segment-button value="histori" *ngIf="salesDetail.group.id==5">
      Histori Pesanan
    </ion-segment-button>
    <ion-segment-button value="sales" *ngIf="salesDetail.group.id==4">
      Salesman
    </ion-segment-button>
  </ion-segment>
  <div *ngIf="tabsprofil=='profil'" padding>
    <table width="100%" style="margin-top:20px;" class="detail-profil">
      <tr>
        <td>Email</td>
        <td>:</td>
        <td>{{salesDetail.email}}</td>
      </tr>
      <tr *ngIf="salesDetailGroupId==5">
        <td>NIK</td>
        <td>:</td>
        <td>{{salesDetail.nik}}</td>
      </tr>
      <tr *ngIf="salesDetailGroupId==5">
        <td>NPWP</td>
        <td>:</td>
        <td>{{salesDetail.no_npwp}}</td>
      </tr>
      <tr>
        <td>No. Handphone</td>
        <td>:</td>
        <td>{{salesDetail.phone}}</td>
      </tr>
      <tr *ngIf="salesDetailGroupId==5">
        <td>Nama Bank</td>
        <td>:</td>
        <td>{{salesDetail.bank}}</td>
      </tr>
      <tr *ngIf="salesDetailGroupId==5">
        <td>No. Rekening</td>
        <td>:</td>
        <td>{{salesDetail.no_rekening}}</td>
      </tr>
      <tr *ngIf="salesDetailGroupId==5">
        <td>Rekening Atas Nama</td>
        <td>:</td>
        <td>{{salesDetail.rekening_atas_nama}}</td>
      </tr>
      <tr *ngIf="salesDetailGroupId==5">
        <td>Nama Dealer</td>
        <td>:</td>
        <td>{{salesDetail.dealer}}</td>
      </tr>
      <tr *ngIf="salesDetailGroupId==5">
        <td>Alamat Dealer</td>
        <td>:</td>
        <td>{{salesDetail.alamat_dealer}}</td>
      </tr>
      <tr *ngIf="salesDetailGroupId==5">
        <td>Business Consultan</td>
        <td>:</td>
        <td>{{salesDetail.bc_name}}</td>
      </tr>
    </table>
    <ion-row *ngIf="salesDetailGroupId==5&&salesDetail.active==1">
      <ion-col col-12>
        KTP :
        <img src="{{salesDetail.ktp==''||salesDetail.ktp==null?'assets/material/default-photo/ktp-default.jpg':urlMaterial+'foto_user/berkas/'+salesDetail.ktp}}" width="100%" imageViewer />
      </ion-col>
      <ion-col col-12>
        NPWP :
        <img src="{{salesDetail.npwp==''||salesDetail.npwp==null?'assets/material/default-photo/npwp-default.jpg':urlMaterial+'foto_user/berkas/'+salesDetail.npwp}}" width="100%" imageViewer/>
      </ion-col>
      <ion-col col-12>
        Buku Tabungan :
        <img src="{{salesDetail.tabungan==''||salesDetail.tabungan==null?'assets/material/default-photo/tabungan-default.jpg':urlMaterial+'foto_user/berkas/'+salesDetail.tabungan}}" width="100%" imageViewer/>
      </ion-col>
      <ion-col col-12 *ngIf="salesDetail.surat_kesepakatan!=''">
        <div class="button">
          <button (click)="skb(salesDetail.surat_kesepakatan)">Lihat Surat Kesepakatan Bersama</button>
        </div>
      </ion-col>
    </ion-row>
  </div>

  <div *ngIf="tabsprofil=='sales'" padding>
    <ion-list>
      <ion-item class="list-sales" *ngFor="let item of salesdealer" (click)="detail(item.user_id)">
        <ion-avatar item-start>
          <img src="{{urlMaterial}}foto_user/{{item.photo}}">
        </ion-avatar>
        <h2>{{item.full_name}}</h2>
        <p>{{item.email}}</p>
        <p>{{item.phone}}</p>
        <p>{{item.dealer}}</p>
        <button *ngIf="item.active==0" ion-button clear item-end class="label-warning">Menunggu Verifikasi</button>
        <button *ngIf="item.active==1" ion-button clear item-end class="label-success">Terverifikasi</button>
        <button *ngIf="item.active==2" ion-button clear item-end class="label-danger">Ditolak</button>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
