page-purchase {
	.error_desc{
		color: red;
		font-size: 11px;
		padding-left: 0px;
		margin-top: 5px;
	}

	.note-label{
		color: #000;
		font-weight: 300;
		border: 1px solid #ddd;
		margin: 5px 0px;
		font-size: 12px;
		padding: 10px;

		.icon{
			float: left;
			color: red;
			font-size: 30px;
			width: 40px;
		}
	}

	.input-group{
		.icon{
			position: relative;
			top: -3px;

			input{
				transform: scale(1.5);
			}
		}

		.form{
			color: #000;

			b{
				color: #e4001c;
			}
		}
	}

	.request-form{
		.item{
			padding: 0px;

			.checkbox{
				margin: 0px;
				margin-right: 5px;
			}

			.label{
				b{
					color: #e4001c;
				}
			}
		}

		.item-inner{
			padding: 0px !important;
			border: none !important;

			.label{
				margin: 0px;
			}
		}
	}
}
