<ion-header>

  <ion-navbar color="merah">
    <ion-title>{{katalog_name}}</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding class="purchase">
  <div class="form-group" *ngFor="let item of attribut; let n = index">
    <label>{{item.atribut}}</label>
    <ion-item>

      <ion-select interface="popover" (ionChange)="change($event, n)">
        <ion-option value="" selected>- Pilih -</ion-option>
        <ion-option *ngFor="let option of selecOption[n]" value="{{option.id}}">{{option.value_atribut}}</ion-option>
      </ion-select>
    </ion-item>
  </div>

  <div class="form-group">
    <label>Jumlah</label>
    <ion-item>
      <input type="number" [(ngModel)]="input_jumlah" [formControl]="jumlahTermControl">
    </ion-item>
    <p class="error_desc">{{data_error.jumlah}}</p>
  </div>

  <div class="form-group" *ngIf="valueAttr.id!=null&&groupid==5">
    <label>Nama Customer</label>
    <ion-item>
      <input type="text" [(ngModel)]="nama_customer" placeholder="Nama Customer">
    </ion-item>
    <p class="error_desc">{{data_error.nama}}</p>
  </div>  

  <div class="form-group" *ngIf="valueAttr.id!=null&&groupid==5">
    <label>Nama Proyek</label>
    <ion-item>
      <input type="text" [(ngModel)]="nama_proyek" placeholder="Nama Proyek">
    </ion-item>
    <p class="error_desc">{{data_error.proyek}}</p>
  </div>  

  <div class="form-group" *ngIf="valueAttr.id!=null">
    <label>Harga</label>
    <ion-item>
      Rp {{valueAttr.harga_dasar*input_jumlah | number : fractionSize}}
    </ion-item>
  </div>

  <div class="form-group" *ngIf="valueAttr.id!=null">
    <label>Reward</label>
    <ion-item>
      Rp {{valueAttr.poin_dasar*input_jumlah | number : fractionSize}}
    </ion-item>
  </div>

  <div class="form-group" *ngIf="valueAttr.id!=null">
    <div class="note-label"><ion-icon name="ios-information-circle"></ion-icon>Edit <b>Estimasi Harga</b> di bawah ini jika harga yang anda tawarkan tidak sama dengan <b>Harga</b> diatas.</div>
    <label>Estimasi Harga</label>
    <ion-item>
      <!-- <input type="number" [(ngModel)]="estimasi_harga" placeholder="Estimasi Harga" [formControl]="estimasiTermControl"> -->
      <input [(ngModel)]="estimasi_harga" type="text" pattern="^[$\-\s]*[\d\,]*?([\.]\d{0,10})?\s*$"  #myBudget="ngModel" (input)="estimasi_harga = format(estimasi_harga)">
    </ion-item>
    <p class="error_desc">{{data_error.estimasi_harga}}</p>
    <p class="error_desc" *ngIf="myBudget.errors && myBudget.errors?.pattern">Hanya bisa Angka!</p>
  </div>

  <div class="form-group" *ngIf="valueAttr.id!=null">
    <label>Estimasi Reward</label>
    <ion-item>
      Rp {{reward_estimasi_harga | number : fractionSize}}
    </ion-item>
  </div>

  <div class="request-form" *ngIf="request_name!=''&&valueAttr.id!=null">
    <ion-list>
      <ion-item>
        <ion-label>Need request <b>{{request_name}}</b> ?</ion-label>
        <ion-checkbox [(ngModel)]="request_check" (ionChange)="show_request()"></ion-checkbox>
      </ion-item>
    </ion-list>
    <div class="form-group" *ngIf="request_check==true">
      <label>Request Note</label>
      <ion-item>
        <textarea rows="8" width="100" [(ngModel)]="request_value"></textarea>
        <p class="error_desc">{{data_error.request_value}}</p>
      </ion-item>
    </div>
  </div>

  <div class="button">
    <button (click)="dokumen(valueAttr.file_pdf)" *ngIf="valueAttr.harga_dasar!=null">Lihat Pdf</button>
    <br/>
    <button (click)="order()" *ngIf="valueAttr.id!=null&&groupid==5">Pesan</button>
  </div>
</ion-content>
