<ion-header>

  <ion-navbar color="merah">
    <ion-title>Reward Request</ion-title>
    <ion-buttons class="more" (click)="sorting()" end><button><ion-icon name="md-more"></ion-icon></button></ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
  <div>
    <ion-searchbar placeholder="Search Sales" [showCancelButton]="shouldShowCancel" [(ngModel)]="searchKey" (ionChange)="search_reward(searchKey, itemsfilter)" *ngIf="itemsfilter.length>0"></ion-searchbar>
    <div class="filters__list">
      <div class="no-data" *ngIf="items.length=='0'">
        <br/>
        <br/>
        Tidak ada reward request
      </div>
      <div class="filters__item" *ngFor="let row of items">
        <label (click)="rewardDetail(row.id)">
          <ion-row>
            <ion-col col-12>
              <h2>{{row.full_name}}</h2>
            </ion-col>
            <ion-col col-5>
              <h2>{{row.nama_produk}}</h2>
              <p>
                <span *ngFor="let attr of row.data_atribut_value">
                  <span>{{attr.value_atribut}} </span>
                </span>
                <span>x {{row.quantity}}</span>
              </p>
            </ion-col>
            <ion-col col-4>
              <h2>Reward</h2>
              <p>{{row.estimasi_reward | number : fractionSize}}</p>
            </ion-col>
            <ion-col col-3>
              <button class="label-warning" *ngIf="row.is_claim_reward=='5'">General Manager Verfication</button>
              <button class="label-warning" *ngIf="row.is_claim_reward=='4'">Finance Verification</button>
              <button class="label-warning" *ngIf="row.is_claim_reward=='3'">Sales Manager Verification</button>
              <button class="label-success" *ngIf="row.is_claim_reward=='1'">Finish</button>
              <button class="label-warning" *ngIf="row.is_claim_reward=='2'">Waiting</button>
            </ion-col>
          </ion-row>
        </label>
      </div>
    </div>
  </div>
</ion-content>
