<!--
  Generated template for the PromoDetilPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="merah">
    <ion-title>Detil Promo</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <img src="{{urlMaterial}}promo/{{promo?.image_promo}}" width="100%">
  <div class="promo">
    <h3 class="title-promo" color="merah">{{promo?.nama_promo}}</h3>
    <div [innerHTML]="promo?.keterangan"></div>
  </div>
</ion-content>
