<ion-header>

  <ion-navbar color="merah">
    <ion-title>Pesanan Dibatalkan</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="mohon">
    <ion-icon name="ios-alert"></ion-icon> &nbsp;Mohon Sertakan Alasan Anda
  </div>
  <br/>
  <br/>
  <div class="form-group">
    <input type="radio" id="alasan-1" [(ngModel)]="alasan" value="Proyek Batal">
    <label for="alasan-1">Proyek Batal</label>
  </div>
  <div class="form-group">
    <input type="radio" id="alasan-2" [(ngModel)]="alasan" value="Pembiayaan Batal">
    <label for="alasan-2">Pembiayaan Batal</label>
  </div>
  <div class="form-group">
    <input type="radio" id="alasan-3" [(ngModel)]="alasan" value="Harga Mahal">
    <label for="alasan-3">Harga Mahal</label>
  </div>
  <div class="form-group">
    <input type="radio" id="alasan-4" [(ngModel)]="alasan" value="Pengiriman Lama">
    <label for="alasan-4">Pengiriman Lama</label>
  </div>
  <div class="form-group">
    <input type="radio" id="alasan-5" [(ngModel)]="alasan" value="Kualitas Tidak Sesuai">
    <label for="alasan-5">Kualitas Tidak Sesuai</label>
  </div>
  <div class="form-group">
    <input type="radio" id="alasan-6" [(ngModel)]="alasan" value="3">
    <label for="alasan-6">Lainnya</label>
    <textarea rows="7" placeholder="Alasan Lainnya" [(ngModel)]="catatan" *ngIf="alasan=='3'"></textarea>

    <div style="color: red">{{error.alasan}}{{error.catatan}}</div>
  </div>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <div class="button">
    <button (click)="confirm()">Submit</button>
  </div>
</ion-content>
