page-surat-keputusan-bersama {
	.table-signature{
		tr{
			padding: 0px;
			margin: 0px;
			width: 50%;
			text-align: center;

			td{
				margin: 0px;
				padding: 0px;
			}

			p{
				margin: 0px !important;
			}
		}
	}
}
