<ion-header>

  <ion-navbar color="merah">
    <ion-title>Status Pemesanan</ion-title>
    <ion-buttons class="more" (click)="sorting()" end><button><ion-icon name="md-more"></ion-icon></button></ion-buttons>
  </ion-navbar>

</ion-header>


<ion-content>
    <ion-searchbar placeholder="Search Sales" [showCancelButton]="shouldShowCancel" [(ngModel)]="searchKey" (ionChange)="search_sales(searchKey, itemsfilter)"></ion-searchbar>
  <div class="no-data" *ngIf="items.length=='0'">
    <br/>
    <br/>
    Tidak ada order, silahkan membuat order baru
  </div>
  <div class="list-order" *ngFor="let item of items" (click)="detil(item.id)">
      <h3>{{item.nama_produk}}</h3>
      <table>
        <tr *ngIf="groupid!=5">
          <td class="name"><ion-icon name="ios-contact"></ion-icon> &nbsp; Dealer</td>
          <td>:</td>
          <td>{{item.full_name}}</td>
        </tr>
        <tr *ngIf="groupid==3">
          <td class="name"><ion-icon name="ios-contact"></ion-icon> &nbsp; Patria</td>
          <td>:</td>
          <td>{{item.nama_parent}}</td>
        </tr>
        <tr>
          <td class="name"><ion-icon name="ios-person"></ion-icon> &nbsp; Customer</td>
          <td>:</td>
          <td>{{item.nama_customer}}</td>
        </tr>
        <tr>
          <td class="name"><ion-icon name="ios-copy"></ion-icon> &nbsp; Proyek</td>
          <td>:</td>
          <td>{{item.nama_proyek}}</td>
        </tr>
        <tr>
          <td class="name"><ion-icon name="ios-create"></ion-icon> &nbsp; Status</td>
          <td>:</td>
          <td>
            <div class="label-warning" *ngIf="item.status_order=='waiting'">Waiting</div>
            <div class="label-success" *ngIf="item.status_order=='verified'">Verified</div>
            <div class="label-danger" *ngIf="item.status_order=='rejected'">Rejected</div>
            <div class="label-warning" *ngIf="item.status_order=='po_process'">PO Process</div>
            <div class="label-warning" *ngIf="item.status_order=='hold'">Hold</div>
            <div class="label-danger" *ngIf="item.status_order=='canceled'">Canceled</div>
            <div class="label-success" *ngIf="item.status_order=='on_process'">On Process</div>
            <div class="label-danger" *ngIf="item.status_order=='rejected_po'">Rejected PO</div>
            <div class="label-success" *ngIf="item.status_order=='delivered'">Delivered</div>
            <div class="label-success" *ngIf="item.status_order=='req_released_reward'">Request Reward</div>
            <div class="label-success" *ngIf="item.status_order=='finish'">Finish</div>
          </td>
        </tr>
      </table>
    </div>
    <ion-fab right bottom class="order-baru" (click)="neworder()">
       <button ion-fab><ion-icon name="md-add"></ion-icon></button>
     </ion-fab>
</ion-content>
