page-hold {
	.mohon{
		border: 1px solid #e4001c;
		border-radius: 5px;
		text-align: center;
		padding: 10px;
		color: #e4001c;
	}

	.form-group{
		height: 30px;
		vertical-align: middle;
	}

	input[type="radio"]{
	  display: none;
	}

	input[type="radio"] + label{
	  position: relative;
	  padding-left: 40px;
	  font-size: 14px;
	  padding-top: 8px;
	}

	input[type="radio"] + label:before,
	input[type="radio"] + label:after {
	  content: '';
	  position: absolute;
	  top: 0;
	  left: 0;
	  width: 20px;
	  height: 20px;
	  text-align: center;
	  color: white;
	}

	input[type="radio"] + label:before {
	 	border: 1px solid red;
	}

	input[type="radio"]:checked + label:before {
	  	-webkit-box-shadow: inset 0 0 0 2px white, inset 0 0 0 10px #e4001c;
    	box-shadow: inset 0 0 0 2px white, inset 0 0 0 10px #e4001c;
	}

}
