<ion-header>

  <ion-navbar color="merah">
    <ion-title>Pesanan Ditunda</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="mohon">
    <ion-icon name="ios-alert"></ion-icon> &nbsp;Mohon Sertakan Alasan Anda
  </div>
  <br/>
  <br/>
  <div class="form-group">
    <input type="radio" id="alasan-1" [(ngModel)]="alasan" value="Proyek Ditunda">
    <label for="alasan-1">Proyek Ditunda</label>
  </div>
  <div class="form-group">
    <input type="radio" id="alasan-2" [(ngModel)]="alasan" value="Menunggu Pembiayaan">
    <label for="alasan-2">Menunggu Pembiayaan</label>
  </div>
  <div class="form-group">
    <input type="radio" id="alasan-3" [(ngModel)]="alasan" value="3">
    <label for="alasan-3">Lainnya</label>
    <textarea rows="7" placeholder="Alasan Lainnya" [(ngModel)]="catatan" *ngIf="alasan=='3'"></textarea>

    <div style="color: red">{{error.alasan}}{{error.catatan}}</div>
  </div>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <br/>
  <div class="button">
    <button (click)="confirm()">Submit</button>
  </div>
</ion-content>
