page-sales {
	.list-sales{
		border-bottom: 1px solid #ddd;
	}

	.more{
		button{
			color: #fff;
			font-size: 20px;
			background: none;
			width: 40px;
		}
	}

	.label-warning{
		background: #cca80c;
		color: #fff;
		padding: 3px 5px;
		right: 20px;
		top: 20px;
		position: absolute;
	}

	.label-danger{
		background: #e4001c;
		color: #fff;
		padding: 3px 5px;
		right: 20px;
		top: 20px;
		position: absolute;
	}

	.label-success{
		background: #2aaf52; 
		color: #fff;
		padding: 3px 5px;
		right: 20px;
		top: 20px;
		position: absolute;
	}
}
