<ion-header>

  <ion-navbar color="merah">
    <ion-title>Sales</ion-title>
    <ion-buttons *ngIf="group_id==3&&tabssales=='dealer'" class="more" end  (click)="sorting()"><button><ion-icon name="md-more"></ion-icon></button></ion-buttons>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-segment [(ngModel)]="tabssales" color="merah" *ngIf="group_id==3">
    <ion-segment-button value="patria">
      Sales Patria
    </ion-segment-button>
    <ion-segment-button value="dealer">
      Salesman
    </ion-segment-button>
  </ion-segment>
  <div *ngIf="tabssales=='patria'">
    <div class="no-data" *ngIf="salesdealer.length==0">
      <br/>
      <br/>
      Tidak ada sales
    </div>
    <ion-list>
      <ion-item class="list-sales" (click)="detail(item.user_id)" *ngFor="let item of sales">
        <ion-avatar item-start>
          <img src="{{urlMaterial}}foto_user/{{item.photo}}">
        </ion-avatar>
        <h2>{{item.full_name}}</h2>
        <p>{{item.email}}</p>
        <p>{{item.phone}}</p>
      </ion-item>
    </ion-list>
  </div>
  <div *ngIf="tabssales=='dealer'">
    <ion-searchbar placeholder="Search Sales" [showCancelButton]="shouldShowCancel" [(ngModel)]="searchKey" (ionChange)="search_sales(searchKey, salesdealerfilter)" *ngIf="group_id==4"></ion-searchbar>
    <div class="no-data" *ngIf="salesdealer.length==0">
      <br/>
      <br/>
      Tidak ada sales
    </div>
    <ion-list>
      <ion-item class="list-sales" *ngFor="let items of salesdealer" (click)="detail(items.user_id)">
        <ion-avatar item-start>
          <img src="{{urlMaterial}}foto_user/{{items.photo}}">
        </ion-avatar>
        <h2>{{items.full_name}}</h2>
        <p>{{items.email}}</p>
        <p>{{items.phone}}</p>
        <p>{{items.dealer}}</p>
        <button *ngIf="items.active==0" class="label-warning">Menunggu Verifikasi</button>
        <button *ngIf="items.active==1" class="label-success">Terverifikasi</button>
        <button *ngIf="items.active==2" class="label-danger">Ditolak</button>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
