<!--
  Generated template for the DaftarPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="merah">
    <ion-title>Daftar</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="logo-login">
    <img src="assets/material/logo.png">
  </div>
  <div class="input-group">
    <div class="icon">
      <ion-icon name="md-person"></ion-icon>
    </div>
    <div class="form">
      <input type="text" placeholder="Nama Sales" [(ngModel)]="dataForm.nama">
      <p class="error_desc">{{data_error.nama}}</p>
    </div>
  </div>
  <div class="input-group">
    <div class="icon">
      <ion-icon name="md-mail"></ion-icon>
    </div>
    <div class="form">
      <input type="email" placeholder="Email" [(ngModel)]="dataForm.email">
      <p class="error_desc">{{data_error.email}}</p>
    </div>
  </div>
  <div class="input-group">
    <div class="icon">
      <ion-icon name="ios-card-outline"></ion-icon>
    </div>
    <div class="form form-upload">
      <input type="tel" pattern="[0-9]*" placeholder="NIK" [(ngModel)]="dataForm.nik">
      <p class="error_desc">{{data_error.nik}}</p>
    </div>
  </div>
  <div class="input-group">
    <div class="icon">
      <ion-icon name="ios-card-outline"></ion-icon>
    </div>
    <div class="form form-upload">
      <input type="tel" pattern="[0-9]*" placeholder="NPWP" [(ngModel)]="dataForm.no_npwp">
      <p class="error_desc">{{data_error.no_npwp}}</p>
    </div>
  </div>
  <div class="input-group">
    <div class="icon">
      <ion-icon name="md-key"></ion-icon>
    </div>
    <div class="form">
      <input type="password" placeholder="password" [(ngModel)]="dataForm.password">
      <p class="error_desc">{{data_error.password}}</p>
    </div>
  </div>
  <div class="input-group">
    <div class="icon">
      <ion-icon name="md-lock"></ion-icon>
    </div>
    <div class="form">
      <input type="password" placeholder="Konfirmasi password" [(ngModel)]="dataForm.password2">
     <p class="error_desc">{{data_error.password2}}</p> 
    </div>
  </div>
  <div class="input-group">
    <div class="icon">
      <ion-icon name="md-phone-portrait"></ion-icon>
    </div>
    <div class="form">
      <input type="tel" pattern="[0-9]*" placeholder="No. Handphone" [(ngModel)]="dataForm.hp">
      <p class="error_desc">{{data_error.hp}}</p>
    </div>
  </div>
  <div class="input-group">
    <div class="icon">
      <ion-icon name="ios-archive"></ion-icon>
    </div>
    <div class="form">
      <input type="text" placeholder="Nama Bank" [(ngModel)]="dataForm.bank">
      <p class="error_desc">{{data_error.bank}}</p>
    </div>
  </div>
  <div class="input-group">
    <div class="icon">
      <ion-icon name="md-card"></ion-icon>
    </div>
    <div class="form">
      <input type="tel" pattern="[0-9]*" placeholder="No. Rekening" [(ngModel)]="dataForm.rek">
      <p class="error_desc">{{data_error.rek}}</p>
    </div>
  </div>
  <div class="input-group">
    <div class="icon">
      <ion-icon name="ios-create"></ion-icon>
    </div>
    <div class="form">
      <input type="text" placeholder="Rekening Atas Nama" [(ngModel)]="dataForm.rek_nama">
      <p class="error_desc">{{data_error.rek_nama}}</p>
    </div>
  </div>
  <div class="input-group">
    <div class="icon">
      <ion-icon name="md-car"></ion-icon>
    </div>
    <div class="form">
      <input type="text" placeholder="Nama Dealer" [(ngModel)]="dataForm.dealer">
      <p class="error_desc">{{data_error.dealer}}</p>
    </div>
  </div>
  <div class="input-group">
    <div class="icon">
      <ion-icon name="md-map"></ion-icon>
    </div>
    <div class="form">
      <input type="text" placeholder="Alamat Dealer" [(ngModel)]="dataForm.alamat_dealer">
      <p class="error_desc">{{data_error.alamat_dealer}}</p>
    </div>
  </div>
  <div class="input-group">
    <div class="icon">
      <ion-icon name="md-person"></ion-icon>
    </div>
    <div class="form">
      <input type="text" placeholder="Nama Business Consultan" [(ngModel)]="dataForm.nama_bc">
      <p class="error_desc">{{data_error.nama_bc}}</p>
    </div>
  </div>


  <div class="input-group setuju">
    <div class="icon">
      <input type="checkbox" [(ngModel)]="dataForm.cek">
    </div>
    <div class="form">
      Dengan ini Saya telah menyetujui seluruh <a (click)="terms()"><b>Syarat dan Ketentuan</b></a> yang berlaku
    </div>
    <p class="error_desc">{{data_error.cek}}</p>
  </div>
  <signature-pad [options]="signaturePadOptions" (onEndEvent)="drawComplete()"></signature-pad>
  <p class="error_desc">{{data_error.signature}}</p>
  <button class="clear-sign" ion-button (click)="drawClear()">Clear Signature</button>
  <div class="input-group setuju">
    <div class="icon">
      <input type="checkbox" [(ngModel)]="dataForm.cek_sign">
    </div>
    <div class="form">
      Dengan ini saya menyetujui dan menyepakati seluruh syarat dan ketentuan yang diatur dalam <a (click)="skb_open()"><b>Surat Kesepakatan Bersama</b></a>
    </div>
    <p class="error_desc">{{data_error.cek_sign}}</p>
  </div>
  <div class="button-space">
    <button class="btn-masuk" (click)="daftar()">Daftar</button>
    <br/>
    <br/>
  </div>

  <!-- The Modal -->
  <div class="modal" *ngIf="modal==true">

    <!-- Modal content -->
    <div class="modal-content">
      <span class="close" (click)="closemodal()">&times;</span>
      <div class="image">
        <img src="{{'data:image/jpeg;base64,'+modalimage}}">
      </div>
      <div class="ganti">
        <button (click)="ganti_foto(modaltype)"><ion-icon name="md-cloud-upload"></ion-icon> Ganti Photo</button>
      </div>
    </div>

  </div>
</ion-content>
