page-reward-verification {
	input.error_input::-webkit-input-placeholder {
		color: red;
	}

	.error_desc{
		color: red;
		font-size: 11px;
		margin: 0px;
	}

	.error_desc.cek{
		padding-left: 0px;
	}

	.input-group{
		.form{
			color: #000;
			font-size: .8em;
		}
	}
}
