<ion-header>

  <ion-navbar color="merah">
    <ion-title>Verified Reward</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="form-group">
    <label>No. Invoice</label>
    <ion-item>
      <input type="text" placeholder="No. Invoice" [(ngModel)]="dataForm.invoice">
      <p class="error_desc">{{data_error.invoice}}</p>
    </ion-item>
  </div>
  <div class="form-group">
    <label>No. Kontrak</label>
    <ion-item>
      <input type="text" placeholder="No. Kontrak" [(ngModel)]="dataForm.kontrak">
      <p class="error_desc">{{data_error.kontrak}}</p>
    </ion-item>
  </div>
  <div class="form-group">
    <label>Note</label>
    <ion-item>
      <textarea type="text" placeholder="Note" [(ngModel)]="dataForm.note"></textarea>
      <p class="error_desc">{{data_error.note}}</p>
    </ion-item>
  </div>
  <div class="note-label" *ngIf="userdata[0]?.lokasi==null||userdata[0]?.lokasi==''" (click)="edit_profile()">
    <ion-icon name="ios-information-circle" style="font-size: 2em; margin-top:-5px"></ion-icon>Lokasi belum di set, <b color="merah">Set Lokasi</b>
  </div>
  <div class="note-label" *ngIf="userdata[0]?.signature==null||userdata[0]?.signature==''" (click)="edit_profile()">
      <ion-icon name="ios-information-circle" style="font-size: 2em; margin-top:-5px"></ion-icon>Signature belum di set, <b color="merah">Set Signature</b>
  </div>

  <!-- <div class="button-space">
    <button class="btn-masuk" (click)="memo()">Lihat Internal Memo</button>
  </div> -->

  <div class="button-space">
    <button class="btn-masuk" (click)="submit()">Submit</button>
  </div>
</ion-content>
