<!--
  Generated template for the FaqPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="merah">
    <ion-title>FAQ</ion-title>
  </ion-navbar>

</ion-header>


<ion-content>
  <ion-searchbar
    [(ngModel)]="myInput"
    [showCancelButton]="shouldShowCancel"
    (ionInput)="onInput($event)"
    (ionCancel)="onCancel($event)">
  </ion-searchbar>
  <ul class="faq-list">
    <li *ngFor="let item of data; let i = index" text-wrap (click)="open(item)">
      <div class="accordion-title">
        <ion-row>
          <ion-col col-11>
            {{item.title}}
          </ion-col>
          <ion-col cl-1 text-right>
            <div class="icon">
              <ion-icon color="success" item-right name="arrow-dropright"></ion-icon>
            </div>
          </ion-col>
        </ion-row>
      </div>
    </li>
  </ul>
</ion-content>
