page-faq {
	ul.faq-list{
		margin: 0px;
		padding: 0px;
	}

  ul.faq-list li{
  	border: 1px solid #ddd;
  	padding: 10px 10px;
  	background: #fff;
  	border-radius: 3px;
  	font-size: 14px;
  	font-weight: 500;
  	list-style: none;
  }

	.accordion-title{
		width: 100%;
		.icon{
			font-size: 20px;
		}
	}

	.accordion-title:before{
		content: "";
		display: table;
		clear: both;
	}

	.accordion-desc{
		border-top: 1px solid #ddd;
		width: 100%;
		font-weight: 300 !important;
		margin-top: 7px;
		padding-top: 10px;
		z-index: 1;
	}

	.button{
		margin-top: 0px;
	}
}
