<!--
  Generated template for the InboxDetilPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar color="merah">
    <ion-title>Inbox Detail</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <div class="inbox-detil" *ngFor="let row of items">
    <div class="judul">
      {{row.judul}}
    </div>
    <div class="from">
      From: <span class="sales" (click)="sales(row.user_id_from)">{{row.full_name_from}}</span><br/>
      Date: {{row.created_date}}
    </div>
    <div class="konten">
      {{row.content}}
    </div>
    <button (click)="detil(row.tipe_relation,row.id_relation)">Detail</button>
  </div>
</ion-content>
