page-inbox-detil {
	.inbox-detil{
		.judul{
			width: 100%;
			font-size: 18px;
			font-weight: 500;
			margin: 0px;
			margin-bottom: 15px;
		}

		.from{
			width: 100%;
			margin-bottom: 15px;
			font-size: 14px;
			color: #a2a2a2;
			border-bottom: 1px solid #ccc;
			padding-bottom: 10px;
		}

		button{
			padding: 8px 15px;
			background: #e4001c;
			margin-top: 10px;
			border-radius: 5px;
			color: #fff;
		}

		span.sales{
			color: #e4001c;
			text-decoration: underline;
		}
	}
}
